.rooms-box {
  padding: $box-padding 0;
  h2 {
    text-align: center;
  }
  &__tabs {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .slick-slider {
    width: 500px
  }
}
