// Global variables
//
// Base font styles for headings and links.

// Alternate Colors
$primary		    : #f8ce1c;
$accent		  : rgb(0, 0, 0);
$white		  : rgb(255, 255, 255);

$purple		  : rgb(149, 149, 210);
$blue		    : rgb(7, 114, 206);
$lightblue	: rgb(65, 182, 230);
$green		  : hsl(86, 88%, 35%);
$red		    : rgb(218, 41, 28);

// Color Variations Array
$prefix: color;
$color-list: (
  'primary' $prefix $primary,
  'accent' $prefix $accent,
	'white' $prefix $white


	'purple' $prefix $purple,
	'blue' $prefix $blue,
	'lightblue' $prefix $lightblue,
	'green' $prefix $green,
	'red' $prefix $red,
);

// For headers
$headings: (
  'sizes': (
    'h1-font-size': 30px,
    'h2-font-size': 27px,
    'h3-font-size': 24px,
    'h4-font-size': 21px,
    'h5-font-size': 17px,
    'h6-font-size': 15px
  ),
  'fonts': (
    'headings-font-family': inherit,
    'headings-color': inherit
  )
);

// Global vars for body typography
$base-font-size: 14px;
$base-link-color: #000;

$base-text-color: #000;
$secondary-text-color: #999;


$base: (
  'base-font-sans-serif': unquote("Rubik, 'Helvetica Neue', Helvetica, sans-serif"),
  'base-text-color': #000,
  'base-background-color': #fff,
  'base-link-color':#39f,
  'base-font-size': 14px,
  'base-line-height': 1.2,
  'base-font-family': unquote("Rubik, 'Helvetica Neue', Helvetica, sans-serif"),
  'base-min-width': 320px
);

// Vars for forms
$forms: (
  'form-font-family': unquote("Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'form-element-padding': unquote("0.938rem"),
  'form-element-focus-border-color': #000,
  'placeholder-color': #999
);

// Breakpoints for include media mixin
$phone: 480px;
$tablet: 768px;
$desktop: 980px;
$widescreen: 1200px;
