// Book modals

.modal.book-modal {
  position: relative;
  display: block;
  // height: 0;
  overflow: hidden;
  padding: 0;
}
.modal.book-modal.active {
  display: block;
  // height: auto;
  overflow: visible;
}

.slider_modal {
  width: 100%;
  .slick-arrow {
    width: 12.8px;
    height: 25.7px;
    opacity: 1;
  }
  .arr-l-b {
    left: 30px;
  }
  .arr-r-b {
    right: 30px;
  }
  .col-md-6, .col {
    padding-right: 10px;
    padding-left: 10px;
  }
  .number {
    padding: 50px 77px;
    display: flex;
    flex-direction: column;
    picture source,
    picture img {
      max-width: 240px;
    }
    h3 {
      font-size: 16px;
      margin-top: 10px;
    }
    &__price {
      
      .cost {
        flex-direction: column;
        .weekdays span,
        .weekend span {
          font-size: 14px;
        }
      }
    }
    &__guests {
      font-size: 14px;
    }
  }
}

form.number__form {
  margin-top: -20px;
  padding: 0 70px;
  input,
  textarea {
    margin-bottom: 20px;
  }
  .quantity input {
    margin-bottom: 0;
  }
  .form__button {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
    .button {
      min-width: 218px;
      min-height: 46px;
      justify-content: center;
      @include button($accent, $white, normal, normal, normal);
      box-shadow: 0 8px 25px 0 rgba(172, 172, 172, 0.6);
    }
  }
  .form__total {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $beige;
    border-radius: 5px;
    padding: 20px;
    margin: 5px 0 30px 0;
    span {
      padding: 0 3px 0 5px;
      font-size: calc(#{$base-font-size} + 4px);
      font-weight: 500;
    }
  }
}