.header {
  position: fixed;
  top: $header-line-height;
  z-index: 2000;
  width: 100%;
  padding: 40px 0;

  @media (max-width: $desktop) {
    padding: 10px 0;
    top: $header-line-height-sm;
  }

  .container {
    justify-content: center;
    display: flex;

    @media (max-width: $desktop) {
      justify-content: space-between;
    }
  }

  a {
    color: $white;
  }
}

.header__logo {
  display: none;
  width: 26px;
  height: 30px;

  @media (max-width: $desktop) {
    display: flex;
  }
}

.toggle-btn {
  @include animate(background);

  background: $white;
  display: none;
  height: 2px;
  position: relative;
  margin: 15px 0 0 0;
  width: 20px;

  @media (max-width: $desktop) {
    display: flex;
  }

  &::before,
  &::after {
    background: $white;
    content: '';
    display: flex;
    height: 100%;
    position: absolute;
    top: 50px;
    @include animate(all, .2s, ease-out);
    width: 100%;
  }

  &::before {
    top: 5px;
  }

  &::after {
    top: -5px;
  }
}

.header__nav {
  display: flex;

  @media (max-width: $desktop) {
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
  }
}

.nav {
  display: flex;
  padding: 0;
  align-items: center;

  @media (max-width: $desktop) {
    @include animate(all);
    overflow: hidden;
    opacity: 0;
    background: rgba($accent, .9);
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    width: 100%;

    .nav-item {
      padding: 0;
      width: 100%;
    }
  }

  .nav-item {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;

    @media (max-width: $desktop) {
      flex-direction: column;
    }

    &:hover {
      .dropdown {
        visibility: visible;
        opacity: 1;
      }

      >.nav-link {
        color: $primary;

        &::after {
          border-bottom: 1px solid $primary;
          left: 0%;
          right: 0%;
          transition-delay: 0s;

          // @media (max-width: $desktop) {
          //   display: none;
          // }
        }
      }

      .nav-link:not(:only-child) {
        &:before {
          // display: none;
        }
      }
    }

    .nav-link {
      display: flex;
      font-size: $base-font-size;
      color: $white;
      margin: 0 16px;
      position: relative;

      @media (max-width: $desktop) {
        justify-content: center;
        margin: 0;
        padding: 15px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, .2);
      }

      &::after {
        position: absolute;
        display: flex;
        content: '';
        border-bottom: 0 solid #fff;
        left: 51%;
        right: 51%;
        bottom: -3px;
        transition-delay: 0s;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0, -0.98, -0.51, -0.93);
        transition-property: all;
        @media (max-width: $desktop) {
          display: none;
        }
      }
    }

    .dropdown {
      @include animate(all);

      flex-direction: column;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 30px;
      padding: 10px;
      width: 210px;
      left: 50%;
      margin-left: -105px;
      background: rgba($accent, .9);
      border-radius: 5px;

      @media (max-width: $desktop) {
        position: static;
        width: 100%;
        visibility: visible;
        opacity: 1;
        margin: 0;
        padding: 0;
        background: none;;
      }

      &:before {
        position: absolute;
        content: ' ';
        display: flex;
        @include triangle(15px, $white, top);
      }

      .nav-link {
        padding: 0;
        margin: 0;
        
        @media (max-width: $desktop) {
          padding: 10px 0;
          font-size: 13px;
        }
      }
    }
  }
}

.header__book {
  display: none;
  height: auto;
  margin-left: 16px;
  @include animate(all .3s ease);

  .button {
    @include button($primary, normal, normal, normal);
    @include animate(all, .2s, ease-in-out);

    @media (max-width: $widescreen) {
      padding: 8px 20px;
    }
  }
}

.sticky-header {
  .header {
    background: rgba(0, 0, 0, .9);
    top: 0;
    transition: all, .5s ease-out;
    padding: 10px 0;

    .nav-link {
      @media (max-width: $widescreen) {
        margin: 0 18px;
      }

      @media (max-width: $desktop) {
        margin: 0;
        padding: 15px;
      }
    }

    .nav-item {
      .dropdown {
        top: 41px;
        border-radius: 0 0 6px 6px;
        padding-top: 0px;
      }
    }

    &__book {
      display: block;

      @media (max-width: $desktop) {
        display: none;
      }
    }
  }
}

.header-open {
  .header {
    @media (max-width: $desktop) {
      @include animate(all);
      background: rgba($accent, .9);
    }

  }

  .toggle-btn {
    @include animate(all);

    background: transparent;

    &::before,
    &::after {
      @include animate(all);
      top: 0;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  .nav {
    overflow: visible;
    max-height: 400px;
    opacity: 1;
  }

  .drop.dropdown {
    @media (max-width: $desktop) {
      display: flex;
    }
  }
}