.header {
  position: fixed;
  top: 30px;
  z-index: 2000;
  width: 100%;
  @include animate(all, .5s, ease-out);
  .header-body {
    display: flex;
    justify-content: center;
    align-items: center;
    @include animate(all .3s ease);
    @media (max-width: $desktop) {
      height: 60px;
      justify-content: flex-start;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    transition: all .5s ease-out;
    @media (max-width: $desktop) {
      width: 100%;
      overflow: hidden;
      max-height: 0;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0; left: 0;
      padding-top: 60px;
      z-index: -1;
    }
    .nav-link {
      display: flex;
      font-size: $base-font-size;
      color: $white;
      margin: 40px 16px;
      position: relative;
      @media (max-width: $desktop) {
        justify-content: center;
        margin: 0;
        padding: 15px;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,.2);
      }
      &:hover,
      &.active {
        color: $primary;
        &::after {
          border-bottom: 1px solid $primary;
          left: 0%;
          right: 0%;
          transition-delay: 0s;
          @media (max-width: $desktop) {
            display: none;
          }
        }
      }
      &::after {
        position: absolute;
        display: flex;
        content: '';
        border-bottom: 0 solid #fff;
        left: 51%;
        right: 51%;
        bottom: -3px;
        transition-delay: 0s;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0, -0.98, -0.51, -0.93);
        transition-property: all;
      }
    }
  }
  &__book {
    height: 0;
    display: none;
    overflow: hidden;
    @include animate(all .3s ease);
  }
  &__logo {
    display: none;
    width: 26px;
    height: 30px;
    @media (max-width: $desktop) {
      display: flex;
    }
  }
  &__toggle {
    padding-top: 7px;
    height: 14px;
    width: 20px;
    margin-top: 30px;
    display: none;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    @media (max-width: $desktop) {
      display: flex;
      margin-top: 0;
      cursor: pointer;
    }
    .toggle-btn {
      background: $white;
      display: flex;
      height: 2px;
      position: relative;
      @include animate(background, .2s, ease-out);
      width: 20px;
      &::before,
      &::after {
        background: $white;
        content: '';
        display: flex;
        height: 100%;
        position: absolute;
        top: 30px;
        @include animate(all, .2s, ease-out);
        width: 100%;
      }
      &::before {
        top: 5px;
      }
      &::after {
        top: -5px;
      }
    }
  }
}

.header-open .header__nav {
  max-height: 294px;
  background: $accent;
  transition: all, .5s ease-out;
}
.header-open {
  .header .header__book {
    display: none;
  }
  .toggle-btn {
    background: transparent;
    transition: all, .5s ease-out;
    &::before,
    &::after {
      transition: all, .2s ease-out;
      top: 0;
    }
    &::before {transform: rotate(-45deg);}
    &::after {transform: rotate(45deg);}

  }
}

//Stiky Header
.sticky-header {
  .header {
    background: rgba(0, 0, 0, .9);
    top: 0;
    transition: all, .5s ease-out;
    .nav-link {
      margin: 20px 32px 20px 0;
      @media (max-width: $widescreen) {
        margin: 20px 18px 20px 0;
      }
      @media (max-width: $desktop) {
        margin: 0;
        padding: 15px;
      }
    }
    &__book {
      display: block;
      height: auto;
      @include animate(all .3s ease);
      .button {
        @include button($primary, normal, normal, normal);
        @include animate(all, .2s, ease-in-out);
        @media (max-width: $widescreen) {
          padding: 8px 20px;
        }
      }
    }
  }
}
