// Tabs

.tabs {
  .tab-menu {
    min-width:  100%;
    display:  flex;
    align-items:  center;
    justify-content:  center;
    @media (max-width: $desktop) {
      display:  none;
      align-items:  flex-start;
    }
  }
  .item {
    opacity:  .3;
    list-style:  none;
    display:  inline-flex;
    justify-content:  center;
    position:  relative;
    margin:  60px 0 30px 0;
    padding:  25px;
    font-weight:  400;
    font-size:  calc(14px - 2px);
    transition:  all 0.2s ease-out;
    @media (max-width: $desktop) {
      display:  flex;
      align-items:  center;
      justify-content:  flex-start;
      margin:  0 0 10px 0;
      padding:  1rem;
      border:  1px solid $black;
    }
    &::before  {
      height:  30px;
      width:  30px;
      display:  flex;
      position:  absolute;
      top:  -30px;
      background:  #E4E8ED;
      border-radius:  100%;
      content:  '';
      transition:  all 0.2s ease-out;
      @media (max-width: $desktop) {
        width:  10px;
        height:  10px;
        margin-right:  10px;
        position:  static;
      }
    }
    
    &:hover,
    &.active {
      opacity:  1;
      &::after {
        height:  2px;
        width:  60px;
        display:  flex;
        content:  '';
        position:  absolute;
        bottom:  0;
        background:  $black;
        @media (max-width: $desktop) {
          display: none;
        }
      }
      &::after {
        opacity:  1;
      }
    }
  }
  .item-content {
    display: block !important;
    height: 0;
    overflow: hidden;
  }
  .item-content.active {
    height: auto;
  }
  #tab-content.container {
    margin-top: 40px;
    padding: 0;
    @media (max-width: $desktop) {
      margin-top: 10px;
    }
    .container {
      padding: 0;
    }
    .item {
      display:  none;
      @media (max-width: $desktop) {
        display: flex;
      }
    }
  }
}

.tabs {
 &__colors {
    .item.red {
      &:before {
        background: $red;
      }
    }
    .item.yellow {
      &:before {
        background: $yellow;
      }
    }
    .item.green {
      &:before {
        background: $green;
      }
    }
    .item.blue {
      &:before {
        background: $blue;
      }
    }
    .item.purple {
      &:before {
        background: $purple;
      }
    }
    .item.gray {
      &:before {
        background: $spacegray;
      }
    }
  }
}