// Tabs

.tabs {
  .tab-menu {
    min-width:  100%;
    display:  flex;
    align-items:  center;
    justify-content:  center;
    @media (max-width: $desktop) {
      display:  none;
      align-items:  flex-start;
    }
  }
  .item {
    opacity:  .3;
    list-style:  none;
    display:  inline-flex;
    justify-content:  center;
    position:  relative;
    margin:  60px 0 30px 0;
    padding:  25px;
    font-weight:  400;
    font-size:  16px;
    transition:  all 0.2s ease-out;
    @media (max-width: $desktop) {
      display:  flex;
      align-items:  center;
      justify-content:  flex-start;
      margin:  0 0 10px 0;
      padding:  1rem;
      border:  1px solid $black;
    }
    &::before  {
      height:  30px;
      width:  30px;
      display:  flex;
      position:  absolute;
      top:  -30px;
      transition:  all 0.2s ease-out;
      @media (max-width: $desktop) {
        margin-right:  20px;
        position:  static;
      }
    }

    &:hover,
    &.active {
      opacity:  1;
      &::after {
        height:  2px;
        width:  60px;
        display:  flex;
        content:  '';
        position:  absolute;
        bottom:  0;
        background:  $black;
        @media (max-width: $desktop) {
          display: none;
        }
      }
      &::after {
        opacity:  1;
      }
    }
  }
  .item-content {
    display: block !important;
    height: 0;
    overflow: hidden;
  }
  .item-content.active {
    height: auto;
  }
  .tab-content.container {
    margin-top: 40px;
    padding: 0;
    @media (max-width: $desktop) {
      margin-top: 10px;
    }
    .container {
      padding: 0;
    }
    .item {
      display: none;
      @media (max-width: $desktop) {
        display: flex;
      }
    }
  }
}

.tabs {
 &__colors {
    .item.red {
      &:before {
        content: url(/src/images/Icons/logo_red_icon.svg);
      }
    }
    .item.yellow {
      &:before {
        content: url(/src/images/Icons/logo_yellow_icon.svg);
      }
    }
    .item.green {
      &:before {
        content: url(/src/images/Icons/logo_green_icon.svg);
      }
    }
    .item.blue {
      &:before {
        content: url(/src/images/Icons/logo_blue_icon.svg);
      }
    }
    .item.purple {
      &:before {
        content: url(/src/images/Icons/logo_violet_icon.svg);
      }
    }
    .item.gray {
      &:before {
        content: url(/src/images/Icons/logo_gray_icon.svg);
      }
    }
  }
}
