.rooms-box {
  h2 {
    text-align: center;
  }
  h3 {
    line-height: 1;
  }
  &__tabs {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.number {
  @media (max-width: $desktop) {
    margin-bottom: 30px;
  }
  &__guests {
    opacity: .5;
    font-size: calc(#{$base-font-size} - 2px);
  }
  &__price {
    margin-top: 38px;
    .cost {
      display: flex;
      margin: 0 0 5px 0;
      .weekdays {
        margin-right: 15px;
        span {
          font-weight: 500;
          font-size: calc(#{$base-font-size} + 4px);
        }
      }
      .weekend {
        span {
          font-weight: 500;
          font-size: calc(#{$base-font-size} + 4px);
        }
      }
    }
    .add-cost {
      margin: 0px 0 0 0;
      span {
        font-weight: 500;
      }
    }
  }
  &__book {
    display: inline-flex;
    margin-top: 40px;
    align-items: center;
    @media (max-width: $phone) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .sale {
      opacity: .5;
      font-size: calc(#{$base-font-size} - 2px);
      margin-left: 10px;
      @media (max-width: $phone) {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
   .button {
      @include button($accent, $white, normal, normal, normal);
      box-shadow: 0 8px 25px 0 rgba(172, 172, 172, 0.6);
      min-width: 216px;
     justify-content: center;
    }
}

// Char List
.char-list {
  margin-top: 20px;
  padding: 0;
  @media (max-width: $desktop) {
    margin-top: 0;
  }
  li {
    color: $black;
    list-style: none;
    display: flex;
    align-items: center;
    min-height: 40px;
    @media (max-width: $desktop) {
      min-height: 40px;
      font-size: 12px;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 22px;
      margin-right: 7px;
    }
  }
}
