// Startet Box
.starter-box {
  position: relative;
  background: url('../images/screen.jpg') no-repeat;
  height: calc(100vh - #{$header-line-height});
  display: flex;
  color: #fff;
  background-size: cover;
  z-index: 1;
  min-width: 100%;
  background-position: center;
  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    height: calc(85vh - #{$header-line-height});
    .logo {
      svg {
        fill: $white;
        @media (max-width: $tablet) {
          width: 300px;
        }
      }
    }
    .slogan {
      font-size: 20px;
      font-weight: normal;
      max-width: 567px;
      line-height: 1.25;
      letter-spacing: 0.5px;
      margin: 34px 0 44px 0;
      @media (max-width: $tablet) {
        font-size: 16px;
        margin-top: 14px;
        margin-bottom: 15px;
      }
    }
  }
  &__info {
    display: flex;
    justify-content: center;
    height: 10vh;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
    .phone {
      height: 28px;
      margin: 0 10px;
      border-bottom: 1px solid $white;
      color: $white;
      font-size: calc(#{$base-font-size} + 4px);
      font-weight: 400;
      letter-spacing: 1px;
      @media (max-width: $tablet) {
        margin: 0 10px 15px 0;
      }
    }
    .address {
      text-transform: uppercase;
      margin: 0 10px;
      font-size: calc(#{$base-font-size} - 4px);
      line-height: 1.5;
      font-weight: 500;
      @media (max-width: $tablet) {
        margin: 0 10px 30px 0;
        text-align: center;
      }
    }
  }
  p {
    font-size: 24px;
  }
}
.book__mobile {
  @include button($primary, $accent, normal, normal, normal);
  display: none;
  box-shadow:  0 8px 25px 0 rgba(172, 172, 172, 0.6);
  margin-bottom: 15px;
  @media (max-width: $tablet) {
    display: flex;
  }
}

.book-box {
  background: $primary;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 16px;
  @media (max-width: $desktop) {
    padding: 20px;
  }
  @media (max-width: $tablet) {
    display: none;
  }
  &__form {
    display: flex;
    position: relative;
    @media (max-width: $desktop) {
      display: block;
    }
    label {
      position: absolute;
      top: -15px;
      display: flex;
      font-size: 10px;
      color: $accent;
      opacity: 0.5;
      letter-spacing: normal;
      @media (max-width: $desktop) {
        position: static;
      }
    }
    .data-input {
      margin-right: 10px;
      @media (max-width: $desktop) {
        margin-right: 0;
        margin-bottom: 10px;
      }
      input {
        min-width: 200px;
        @media (max-width: $desktop) {
          min-width: 320px;
        }
        @media (max-width: $tablet) {
          min-width: 100%;
        }
      }
      &__submit {
        margin-right: 0;
        @media (max-width: $desktop) {
          margin-bottom: 0;
          margin-top: 20px;
        }
      }
    }
    .button {
      @include button($accent, $white, normal, normal, normal);

      min-height: 46px;
      padding: 10px 50px;
      background:$accent;
      font-size: calc(#{$base-font-size} + 2px);
      color: $white;
      @include animate(all, .2s, ease);
    }
  }
  &__notice {
    a {
      color: $white;
      position: relative;
      &:hover {
        color: $primary;
        &::after {
          border-bottom: 1px dashed $primary;
          left: 51%;
          right: 51%;
          transition-delay: 0s;
        }
      }
      &::after {
        position: absolute;
        display: flex;
        content: '';
        border-bottom: 1px dashed #fff;
        left: 0%;
        right: 0%;
        bottom: -3px;
        transition-delay: 0s;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0, -0.98, -0.51, -0.93);
        transition-property: all;
      }
    }
  }
}

