// Advantages Box
.zones-box {
  h2 {
    margin-bottom: 30px;
  }
  &__tabs {
    .tab-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      .item {
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 25px 5px;
        margin: 0 20px;
        font-size: calc(#{$base-font-size} - 2px);
        font-weight: 300;
        @media (max-width: $desktop) {
          border: none;
          padding: 10px 5px;   
          margin-bottom: 20px;     
        }
        &:hover {
          background: none;
        }
        &:before {
          display: none;
        }
        &:after {
          @media (max-width: $desktop) {
            display: flex;
          }
        }
        span {
          display: flex;
          margin-bottom: 25px;
          @media (max-width: $desktop) {
            margin-bottom: 10px;
          }
        } 
      }
    } 
  }
  .zone {
    &__desc {
      line-height: 1.88;
      font-size: calc(#{$base-font-size} + 2px);
      max-width: 80%;
      display: flex;
      margin-bottom: 0;
      @media (max-width: $desktop) {
        line-height: 1.5;
        font-size: $base-font-size;
        max-width: 100%;   
      }
    }
  }
  &__tab {
    display: flex;
    align-items: center;
    margin-top: 30px;
    @media (max-width: $desktop) {
      margin-top: 0;
      align-items: flex-start;
    }
  }
  &__imgs {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      vertical-align: middle;
    }
    @media (max-width: $desktop) {
      min-height: auto;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .img-t {
      min-width: 380px;
      height: auto;
      margin-left: 10%;
      box-shadow: 0 15px 20px rgba(0,0,0,.23);
      @media (max-width: $desktop) {
        margin: 0 0 30px 0;
        width: 100%;
        box-shadow: none;
      }
    }
    .slider-t {
      display: flex;
      height: 500px;
      width: auto;
    }
    .img-b {
      max-width: 378px;
      max-height: 523px;
      position: absolute;
      top: 0; left: 0;
      opacity: .5;
      z-index: -1;
      box-shadow: 0 15px 20px rgba(0,0,0,.23);
      @media (max-width: $desktop) {
        display: none;
      }
    }
    
  }

}

.zones-box {
  &__slides {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 520px;
    @media (max-width: $desktop) {
      min-height: auto;
      display: inline;
    }
  }
  &__slider-t .slick-slider {
    line-height: 0;
    height: 522px;
    width: 550px;
    margin-left: 7%;
    overflow: hidden;
    @media (max-width: $widescreen) {
      width: 460px;
      height: auto;
    }
    @media (max-width: $desktop) {
      margin: 0 0 30px 0;
      width: 100%;
      box-shadow: none;
    }
    .slick-arrow {
      z-index: 1;
      width: 18px;
      position: absolute;
      bottom: -5%;
      opacity: 1;
      cursor: pointer;
      @include animate(all, .2s, ease);
      @media (max-width: $desktop) {
        bottom: auto;
      }
    }
    .slick-arrow.slick-disabled {
      opacity: .6;
    }
    .arr-l-b {
      right: 40px;
      @media (max-width: $desktop) {
        right: auto;
        left: 10px;
      }
    }
    .arr-r-b{
      right: 10px;
      @media (max-width: $desktop) {
        right: 10px;
      }
    }
  }
  &__slider-bg {
    width: 380px;
    height: 520px;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: .5;
    box-shadow: 0 15px 20px rgba(0,0,0,.23);
    @media (max-width: $desktop) {
      display: none;
    }
  }
}