.header {
  position: fixed;
  top: 30px;
  z-index: 5;
  width: 100%;
  background: transparent;
  @include animate(all, .5s, ease-out);
  .header-body {
    display: flex;
    justify-content: center;
    align-items: center;
    @include animate(all .3s ease);
    @media (max-width: $desktop) {
      height: 30px;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    @media (max-width: $desktop) {
      display: none;
    }
    .nav-link {
      font-size: $base-font-size;
      color: $white;
      margin: 40px 32px 40px 0;
      position: relative;
      &:hover {
        color: $primary;
        &::after {
          border-bottom: 1px solid $primary;
          left: 0%;
          right: 0%;
          transition-delay: 0s;
        }
      }
      &::after {
        position: absolute;
        display: flex;
        content: '';
        border-bottom: 0 solid #fff;
        left: 51%;
        right: 51%;
        bottom: -3px;
        transition-delay: 0s;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0, -0.98, -0.51, -0.93);
        transition-property: all;
      }
    }
  }
  &__book {
    height: 0;
    display: none;
    overflow: hidden;
    @include animate(all .3s ease);
  }
  &__toggle {
    margin-top: 30px;
    display: none;
    margin-left: auto;
    position: relative;
    @media (max-width: $desktop) {
      display: flex;
    }
    .toggle-btn {
      background: #ccc;
      display: flex;
      height: 2px;
      position: relative;
      @include animate(background, .2s, ease-out);
      width: 20px;
      &::before,
      &::after {
        background: $white;
        content: '';
        display: flex;
        height: 100%;
        position: absolute;
        top: 30px;
        @include animate(background, .2s, ease-out);
        width: 100%;
      }
      &::before {
        top: 5px;
      }
      &::after {
        top: -5px;
      }
    }
  }
}

.button {
  @include button($primary, normal, normal, normal);
}

//Stiky Header
.sticky-header {
  .header {
    background: rgba(0, 0, 0, .9);
    top: 0;
    .nav-link {
      margin: 20px 32px 20px 0;
    }
    &__book {
      display: block;
      height: auto;
      @include animate(all .3s ease);
    }
  }
}
