// This is base reset for global components.
//

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
  @include font-smoothing(on);
  color: map-get($base, 'base-text-color');
  background: map-get($base, 'base-background-color');
  font: #{map-get($base, 'base-font-size')}/#{map-get($base, 'base-line-height')} #{map-get($base, 'base-font-family')};
  min-width: map-get($base, base-min-width);
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// hide tel links on desktop
@media only screen and (min-width: 1025px) {
    a[href^="tel"], a[href^="skype"], a[href^="sms"] {
    cursor: default;
    pointer-events: none;
  }
}

ul {
  margin: 0;
  padding: 0 0 0 18px;
  li {
    padding: 5px 0
  }
}
ul.list-unstyled {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    padding: 10px 0
  }
}