<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-i18n="htmlTitle"></title>
  <meta name="description" data-i18n="[content]htmlDescription">
  <meta name="keywords" data-i18n="[content]htmlKeywords">
  <link media="all" rel="stylesheet" href="assets/css/vendor.min.css">
  <link media="all" rel="stylesheet" href="assets/css/styles.min.css">
  <link rel="alternate" href="https://hostel.kharkiv.ua/" hreflang="x-default" />
  <link rel="alternate" href="https://hostel.kharkiv.ua/?lang=de" hreflang="de" />
  <link rel="alternate" href="https://hostel.kharkiv.ua/?lang=ru" hreflang="ru" />
  <link rel="alternate" href="https://hostel.kharkiv.ua/?lang=uk" hreflang="uk-ua" />
  <link rel="alternate" href="https://hostel.kharkiv.ua/?lang=es" hreflang="es" />
  <link rel="alternate" href="https://hostel.kharkiv.ua/?lang=fr" hreflang="fr" />
  <link rel="alternate" href="https://hostel.kharkiv.ua/?lang=tr" hreflang="tr-tr" />
  <link rel="alternate" href="https://hostel.kharkiv.ua/?lang=en" hreflang="en" />
  <meta name="google-site-verification" content="+EUqHgOLNuVTP6dcRxEREZqNSEXaCJmspau6-Lg6V9tI="/>
  <!-- Desktop browsers (including 16x6, 32x32 & 48x48 PNGs) -->
  <link rel="shortcut icon" href="assets/images/favicon.png">

  <!-- Modern browsers (196x196 should cover all modern browsers) -->
  <link rel="icon" type="image/png" href="assets/images/favicon.png">

  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  <!-- iOS & other mobile devices (ideally 180x180, at least 120x120) -->
  <link rel="apple-touch-icon" href="touch-icon-iphone.png">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23710006-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23710006-2');
  </script>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Hostel",
      "name": "Central hostel",
      "description": "A beautifully located design hostel in Kharkiv.",
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "UA",
        "addressLocality": "Kharkiv",
        "addressRegion": "Kharkiv",
        "postalCode": "61057",
        "streetAddress": "Pushkinskaya 40"
      },
      "telephone": "+38 096 104 90 60",
      "photo": "hhttps://hostel.kharkiv.ua/assets/images/hostel/art-hostel-kitchen.jpg",
      "logo": "https://hostel.kharkiv.ua/logo.jpg",
      "image": "https://hostel.kharkiv.ua/assets/images/hostel/art-hostel-kitchen.jpg",
      "checkinTime": "14:00",
      "checkoutTime": "12:00",
      "openingHours": "Mo-Su",
      "paymentAccepted": "Cash, Credit Card",
      "latitude": "49.997513",
      "longitude": "36.240143",
      "starRating": {
        "@type": "Rating",
        "ratingValue": "5"
      },
      "url": "https://hostel.kharkiv.ua",
      "priceRange": "$6 - $10"
    }</script>
<script>
  function gtag_report_conversion(quantity, url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-1061482729/nyohCMK29bgBEOnhk_oD',
        'value': quantity,
        'currency': 'USD',
        'transaction_id': '',
        'event_callback': callback
    });
    return false;
  }
</script>
<script src="//code.jivosite.com/widget/rMTKjMEysI" async></script>
</head>
