<section class="action-box anchor">
  <div class="container">
    <div class="action-box__content">
        <svg class="percentage percentage-xs" width="20" height="18">
            <use xlink:href="#percentage" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <svg  class="percentage percentage-lg" width="20" height="18">
            <use xlink:href="#percentage" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <svg  class="percentage percentage-sm" width="20" height="18">
            <use xlink:href="#percentage" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
      <p class="action-box__text">Предоставляем скидку <strong>10%</strong> для проживания группам от 4х человек
      при прямом заблаговременном бронировании через сайт </p>
      <button type="submit" class="button action-box__button">Забронировать</button>
      
    </div>
  </div>
</section>