<section class="action-box anchor">
  <div class="container">
    <div class="action-box__content">
        <svg class="percentage percentage-xs" width="20" height="18">
            <use xlink:href="#percentage" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <svg  class="percentage percentage-lg" width="20" height="18">
            <use xlink:href="#percentage" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <svg  class="percentage percentage-sm" width="20" height="18">
            <use xlink:href="#percentage" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
      <p class="action-box__text"><t data-i18n="provideDiscountA"></t><strong>10%</strong><t data-i18n="provideDiscountB"></t></p>
      <a href="#modal-book-room" class="open-modal button action-box__button" data-i18n="makeReservation"></a>
    </div>
  </div>
</section>