<section class="section advantages-box anchor" id="about">
  <div class="container">
    <h2>Наши преимущества</h2>
    <div class="row d-flex flex-wrap">
      <div class="advantage  align-items-center align-items-lg-start">
        <div class="advantage-holder">
          <svg width="32" height="32" class="advantages-box__icon">
            <use xlink:href="#place" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <h3>Расположение</h3>
          <p>Хостел расположен в центральной части города. В 50 метрах от станции метро</p>
        </div>
      </div>
      <div class="advantage mb-4 mb-sm-0 advantage-center advantages-box__video align-items-center align-items-lg-center">
        <a class="open-modal" href="#video-modal" rel="modal:open">
          <picture>
            <source srcset="assets/images/opening.webp" type="image/webp">
            <source srcset="assets/images/opening.jpg" type="image/jpeg">
            <img src="assets/images/opening.jpg" alt="Видео хостела">
          </picture>
          <span></span>
        </a>
        <div id="video-modal" class="modal">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/oj6sFMrrQm0" allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="advantage  align-items-center align-items-lg-end">
        <div class="advantage-holder">
          <svg width="32" height="32" class="advantages-box__icon">
            <use xlink:href="#view" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <h3>Вид</h3>
          <p>Прекрасный вид из окон нашего хостела на парк с фонтаном “Влюбленных”</p>
        </div>
      </div>
      <div class="advantage align-items-center align-items-lg-start">
        <div class="advantage-holder">
          <svg width="32" height="30" class="advantages-box__icon">
            <use xlink:href="#technologies" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <h3>Технологии</h3>
          <p>Универсальная магнитная карта позволяет открывать двери и личный шкафчик</p>
        </div>
      </div>
      <div class="advantage align-items-center advantage-center  align-items-lg-center">
        <div class="advantage-holder pt-lg-2">
          <svg width="32" height="32" class="advantages-box__icon">
            <use xlink:href="#design" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <h3>Дизайн</h3>
          <p>Дизайн хостела разработан студией “Freshdesign”, с учетом опыта лучших хостелов Европы</p>
        </div>
      </div>
      <div class="advantage align-items-center align-items-lg-end">
        <div class="advantage-holder">
          <svg width="30" height="32" class="advantages-box__icon">
            <use xlink:href="#price" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <h3>Цена</h3>
          <p>Соотношение цена/качество нашего хостела Вас приятно<br> удивит</p>
        </div>
      </div>
    </div>
  </div>
</section>