<section class="section advantages-box anchor" id="about">
  <div class="container">
    <h2 data-i18n="ourProperty"> </h2>
    <div class="row d-flex flex-wrap">
      <div class="advantage  align-items-center align-items-lg-start">
        <div class="advantage-holder">
          <svg width="32" height="32" class="advantages-box__icon">
            <use xlink:href="#place" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <h3 data-i18n="ourLocation"> </h3>
          <p data-i18n="hostelIsLocated"> </p>
        </div>
      </div>
      <div class="advantage mb-4 mb-sm-0 advantage-center advantages-box__video align-items-center align-items-lg-center">
        <div class="video-modal">
            <!--<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/oj6sFMrrQm0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        </div>
      </div>
      <div class="advantage  align-items-center align-items-lg-end">
        <div class="advantage-holder">
          <svg width="32" height="32" class="advantages-box__icon">
            <use xlink:href="#view" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <h3 data-i18n="View"> </h3>
          <p data-i18n="goodWindowView"> </p>
        </div>
      </div>
      <div class="advantage align-items-center align-items-lg-start">
        <div class="advantage-holder">
          <svg width="32" height="30" class="advantages-box__icon">
            <use xlink:href="#technologies" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <h3 data-i18n="technologies"> </h3>
          <p data-i18n="magneticCard"> </p>
        </div>
      </div>
      <div class="advantage align-items-center advantage-center  align-items-lg-center">
        <div class="advantage-holder pt-lg-2">
          <svg width="32" height="32" class="advantages-box__icon">
            <use xlink:href="#design" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <h3 data-i18n="design"> </h3>
          <p data-i18n="designDeveloped"> </p>
        </div>
      </div>
      <div class="advantage align-items-center align-items-lg-end">
        <div class="advantage-holder">
          <svg width="30" height="32" class="advantages-box__icon">
            <use xlink:href="#price" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <h3 data-i18n="ourPrice"> </h3>
          <p><t data-i18n="priceQualityA"></t><br><t data-i18n="priceQualityB"></t></p>
        </div>
      </div>
    </div>
  </div>
</section>
