<section class="section advantages-box anchor" id="about">
  <div class="container">
    <h2>Наши преимущества</h2>
    <div class="row">
        <div class="col-sm-12 col-lg-4 col-md-6 advantage">
            <svg width="32" height="32" class="advantages-box__icon">
          <use xlink:href="#place" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg> 
        <h3>Расположение</h3>
        <p>Хостел расположен в центральной части города. В 50 метрах от станции метро</p>
      </div>
      <div class="col-sm-12 col-lg-4 col-md-6 advantage advantages-box__video">
          <a class="open-modal" href="#video-modal" rel="modal:open">
            <img src="assets/images/hostel/014hall14.jpg" alt=""/>
            <span></span>
          </a>
          <div id="video-modal" class="modal">
              <video width="100%" height="auto" controls>
                <source src="assets/video/burj_al_arab.mp4" type="video/mp4">
                <source src="assets/video/burj_al_arab.ogg" type="video/ogg">
                  Your browser does not support the video tag.
              </video>
            </div>
      </div>
      <div class="col-sm-12 col-lg-4 col-md-6 advantage">
          <svg width="32" height="32" class="advantages-box__icon">
          <use xlink:href="#view" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg> 
        <h3>Вид</h3>
        <p>Прекрасный вид из окон нашего хостела на парк с фонтаном “Влюбленных”</p>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-6 advantage">
          <svg width="32" height="30" class="advantages-box__icon">
            <use xlink:href="#technologies" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg> 
        <h3>Технологии</h3>
        <p>Универсальная магнитная карта позволяет открывать двери и личный шкафчик</p>
      </div>
      <div class="col-sm-12 col-lg-4 col-md-6 advantage">
        <svg width="32" height="32"  class="advantages-box__icon">
          <use xlink:href="#design" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg> 
        <h3>Дизайн</h3>
        <p>Дизайн хостела разработан студией “Flowers”, с учетом опыта лучших хостелов Европы</p>
      </div>
      <div class="col-sm-12 col-lg-4 col-md-6 advantage">
        <svg width="30" height="32"  class="advantages-box__icon">
          <use xlink:href="#price" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg> 
        <h3>Цена</h3>
        <p>Соотношение цена/качество нашего хостела Вас приятно<br> удивит</p>
      </div>
    </div>
  </div>
</section>