<section class="section food-shop-box" id="food-shop">
   <div class="container">
     <div class="food-shop-box__title">
        <h2 data-i18n="foodandshop"> </h2>
        <p data-i18n="listOfEstablishments"> </p>
     </div>
    <div class="row">
      <div class="col-md-4">
        <h5 data-i18n="McDonald's"> </h5>
        <ul class="list-unstyled">
          <li data-i18n="fastFood"> </li>
          <li data-i18n="30m"></li>
          <li data-i18n="classicOfFastfood"> </li>
          <li data-i18n="adrMcDonalds"> </li>
          <li data-i18n="modeMcDonalds"> </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 data-i18n="buffet"> </h5>
        <ul class="list-unstyled">
          <li data-i18n="fastFood"> </li>
          <li data-i18n="20m"> </li>
          <li data-i18n="pizzaAndSalads"> </li>
          <li data-i18n="adrBuffet"> </li>
          <li data-i18n="modeBuffet"> </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>FreshLine</h5>
        <ul class="list-unstyled">
          <li data-i18n="fastFood"> </li>
          <li data-i18n="10m"> </li>
          <li data-i18n="sandwiches"> </li>
          <li data-i18n="adrFreshLine"> </li>
          <li data-i18n="modeFreshLine"> </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 data-i18n="minimarket"> </h5>
        <ul class="list-unstyled">
          <li data-i18n="GroceryStore"> </li>
          <li data-i18n="15m"> </li>
          <li data-i18n="adrMinimarket"> </li>
          <li data-i18n="modeMinimarket"> </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 data-i18n="supermarket"> </h5>
        <ul class="list-unstyled">
          <li data-i18n="GroceryStore"> </li>
          <li data-i18n="450m"> </li>
          <li data-i18n="adrSupermarket"> </li>
          <li data-i18n="modeSupermarket"> </li>
        </ul>
      </div>
    </div>
  </div> 
</section>