<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <svg class="footer__logo">
        <use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
        <nav id="footer-nav" class="footer__nav">
          <a href="#rooms" class="nav-link">Номера и цены</a>
          <a href="#about" class="nav-link">О нас</a>
          <a href="#action" class="nav-link">Акции</a>
          <a href="#location" class="nav-link">Как добраться</a>
          <a href="#info" class="nav-link">Полезная информация</a>                                            
        </nav>
        <div class="contacts">
          <a href="#" target="_blank" class="telegram">
              <svg width="15px" height="15">
                <use xlink:href="#telegram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
          </a>
          <a href="#" target="_blank" class="viber">
              <svg width="15px" height="15">
                <use xlink:href="#viber" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
          </a>
          <a href="#" target="_blank" class="whatsapp">
              <svg width="15px" height="15">
                <use xlink:href="#whatsapp" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
          </a>
          <a href="tel:+38 (096) 104 90 60" class="phone">+38 (096) 104 90 60</a>
          <a href="mailto:sales@hostel.kharkiv.ua" class="email">
              <span class="email-icon">
                <svg width="12px" height="10px">
                  <use xlink:href="#email" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </span>
              sales@hostel.kharkiv.ua
            </a>
        </div>
    </div>
  </div>
</footer>