<section class="section hostel-box anchor" id="location">
  <div class="container">
    <div class="row">
      <div class="col">
          <svg class="hostel-box__logo" width="350" height="50"> <use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"> </use> </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 data-i18n="ourLocation"> </h3>
          <p><a target="_blank" rel=”nofollow” style="color:#ffffff;border-bottom: 1px dashed #ffffff;left: 0%;" href="https://www.google.com/maps/place/Central+Hostel/@49.9975013,36.239549,18z/data=!3m1!4b1!4m11!1m2!2m1!1sgoogle+maps!3m7!1s0x4127a0e8ca2fdb11:0x2068ec8bb3193cfa!5m2!4m1!1i2!8m2!3d49.9975003!4d36.2401784"><img style="float:left;width: 15%" src="assets/images/google-maps.png"/><t data-i18n="hostelMap"></t><t data-i18n="clickHere"></t> </a></p>
        <p data-i18n="hostelWindows"> </p>
        <p data-i18n= "hostelLocation"> </p>
        <p data-i18n="advantageousLocation"> </p>
      </div>
      <div class="col-md-6">
        <h3 data-i18n="decor"> </h3>
        <p data-i18n="designProject"> </p>
        <p data-i18n="numberColor"> </p>
        <p data-i18n="electronicKey"> </p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 data-i18n="sleepingPlaces"> </h3>
        <ul>
          <li data-i18n="PowerSocket220"> </li>
          <li data-i18n="PowerSocketUSB"> </li>
          <li data-i18n="individualLight"> </li>
          <li data-i18n="curtains"> </li>
          <li data-i18n="locker"> </li>
          <li data-i18n="bedBox"> </li>
        </ul>
      </div>
      <div class="col-md-6">
          <h3 data-i18n="roomEquipment"> </h3>
          <ul>
            <li data-i18n="conditioning"> </li>
            <li data-i18n="ventilation"> </li>
            <li data-i18n="lighting"> </li>
            <li data-i18n="nightLighting"> </li>
            <li data-i18n="table"> </li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 data-i18n="commonArea"> </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li data-i18n="reception"> </li>
          <li data-i18n="bathroom"> </li>
          <li data-i18n="hairDryer"> </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li data-i18n="washingMachine"> </li>
          <li data-i18n="safe"> </li>
          <li data-i18n="iron"> </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li data-i18n="kitchen"> </li>
          <li data-i18n="pechka"> </li>
          <li data-i18n="microwave"> </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li data-i18n="kettle"> </li>
          <li data-i18n="water"> </li>
        </ul>
      </div>
    </div>
  </div>
 </section>