<!-- Book modal rooms-->
<div id="modal-book-room" class="modal book-modal">
  <div class="slick-slider slider_modal" id="slider_book_rooms_modal">
    <div>
      <div id="number-red" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" src="assets/images/hostel/hostel-female-room.jpg" data-i18n="[alt]redNumber">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3 data-i18n="redNumber"> </h3>
            <p class="number__guests"><t data-i18n="WNumberA"></t><br><t data-i18n="WNumberB"></t></p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekDays"></t>)</div>
                <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekEnds"></t>)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="number-green" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" src="assets/images/hostel/green-hostel-room-kharkiv.jpg" data-i18n="[alt]greenNumber">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3 data-i18n="greenNumber"> </h3>
            <p class="number__guests" data-i18n="4MenWomen"> </p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekDays"></t>)</div>
                <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekEnds"></t>)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="number-blue" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" src="assets/images/hostel/inexpensive-hostel-Kharkov.jpg" data-i18n="[alt]blueNumber">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3 data-i18n="blueNumber"> </h3>
            <p class="number__guests" data-i18n= "4MenWomen"> </p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekDays"></t>)</div>
                <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekEnds"></t>)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="number-viol" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" src="assets/images/hostel/booking-hostel-kharkov.jpg" data-i18n="[alt]purpleNumber">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3 data-i18n="purpleNumber"> </h3>
            <p class="number__guests" data-i18n="4MenWomen"> </p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekDays"></t>)</div>
                <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekEnds"></t>)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="number-yellow" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" src="assets/images/hostel/eurohostel-kharkov.jpg" data-i18n="[alt]yellowNumber">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3 data-i18n="yellowNumber"> </h3>
            <p class="number__guests" data-i18n="4MenWomen"> </p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekDays"></t>)</div>
                <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekEnds"></t>)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="number-brown" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" src="assets/images/hostel/city-hostel-kharkov.jpg" data-i18n="[alt]grayNumber">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3 data-i18n="grayNumber"> </h3>
            <p class="number__guests" data-i18n="4MenWomen"> </p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekDays"></t>)</div>
                <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t> (<t data-i18n="weekEnds"></t>)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form class="form number__form" id="bookingForm">
    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <input id="guestName" name="name" type="text" data-i18n="[placeholder]inputName" required />
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="quantity">
          <label data-i18n="quantityGuests"> </label>
          <input id="guestsNumber" type="number" min="1" max="30" step="1" value="1" required />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="input-group">
            <span> <svg width="19px" height="19px">
                <use xlink:href="#calendar"> </use>
              </svg> </span>
          <input type="text" id="modalCheckIn" data-i18n="[placeholder]dateInput" required readonly />
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="input-group">
            <span> <svg width="19px" height="19px">
                <use xlink:href="#calendar"> </use>
              </svg></span>
          <input type="text" id="modalCheckOut" data-i18n="[placeholder]dateOutput" required readonly />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <input id="earlyCheck" type="checkbox" />
        <label for="earlyCheck">
            <span> <svg>
                <use xlink:href="#check"> </use>
              </svg> </span>
            <t data-i18n="earlyCheckIn"></t>
        </label>
      </div>
      <div class="col-12 col-sm-6">
        <input id="lateCheck" type="checkbox" />
        <label for="lateCheck">
            <span> <svg>
                <use xlink:href="#check"> </use>
              </svg> </span>
            <t data-i18n="lateCheckOut"></t>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <input id="breakfast" type="checkbox" />
        <label for="breakfast">
            <span> <svg>
                <use xlink:href="#check"> </use>
              </svg> </span>
            <t data-i18n="breakfastPlus"></t>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form__total"><t data-i18n="total"></t><span id="totalSum" data-i18n="230UAH"></span><t data-i18n="UAH"></t></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <input id="guestEmail" name="email" type="email" placeholder="Email" required />
      </div>
      <div class="col-12 col-sm-6">
        <input id="phoneNumber" name="phone" type="tel" pattern="[0-9]{7,}" data-i18n="[placeholder]phoneNumber" required />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea rows="4" id="bookingComments" data-i18n="[placeholder]yourComments"> </textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form__button">
          <button type="submit" class="button" data-i18n="makeReservation"> </button>
        </div>
      </div>
    </div>
  </form>
</div>