<!-- Book modal rooms-->
<div id="modal-book-room" class="modal book-modal">
  <div class="slick-slider slider_modal" id="slider_book_rooms_modal">
    <div>
      <div id="number-red" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" data-src="assets/images/hostel/red-1.jpg" alt="Красный номер">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3>Красный номер</h3>
            <p class="number__guests">4 человека<br>Женщины</p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span>230</span> грн./сутки</div>
                <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="number-green" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" data-src="assets/images/hostel/green-1.jpg" alt="Зеленый номер">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3>Зеленый номер</h3>
            <p class="number__guests">4 человека | Мужчины и женщины</p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span>230</span> грн./сутки</div>
                <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="number-blue" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" data-src="assets/images/hostel/blue-1.jpg" alt="Синий номер">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3>Синий номер</h3>
            <p class="number__guests">4 человека | Мужчины и женщины</p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span>230</span> грн./сутки</div>
                <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="number-viol" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" data-src="assets/images/hostel/viol-1.jpg" alt="Фиолетовый номер">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3>Фиолетовый номер</h3>
            <p class="number__guests">4 человека | Мужчины и женщины</p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span>230</span> грн./сутки</div>
                <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="number-yellow" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" data-src="assets/images/hostel/yellow-1.jpg" alt="Желтый номер">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3>Желтый номер</h3>
            <p class="number__guests">4 человека | Мужчины и женщины</p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span>230</span> грн./сутки</div>
                <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="number-brown" class="number">
        <div class="row">
          <div class="col-12 col-sm-6">
            <picture>
              <img class="lazyload" data-src="assets/images/hostel/brown-1.jpg" alt="Серый номер">
            </picture>
          </div>
          <div class="col-12 col-sm-6 number__info">
            <h3>Серый номер</h3>
            <p class="number__guests">4 человека | Мужчины и женщины</p>
            <div class="number__price">
              <div class="cost">
                <div class="weekdays"><span>230</span> грн./сутки</div>
                <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form class="form number__form" id="bookingForm">
    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <input id="guestName" name="name" type="text" placeholder="Ваше имя и фамилия" required />
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="quantity">
          <label>Кол-во человек:</label>
          <input id="guestsNumber" type="number" min="1" max="30" step="1" value="1" required />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="input-group">
            <span><svg width="19px" height="19px">
                <use xlink:href="#calendar"></use>
              </svg></span>
          <input type="text" id="modalCheckIn" placeholder="Дата заезда" required readonly />
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="input-group">
            <span><svg width="19px" height="19px">
                <use xlink:href="#calendar"></use>
              </svg></span>
          <input type="text" id="modalCheckOut" placeholder="Дата отъезда" required readonly />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <input id="earlyCheck" type="checkbox" />
        <label for="earlyCheck">
            <span><svg>
                <use xlink:href="#check"></use>
              </svg></span>
          Ранний заезд
        </label>
      </div>
      <div class="col-12 col-sm-6">
        <input id="lateCheck" type="checkbox" />
        <label for="lateCheck">
            <span><svg>
                <use xlink:href="#check"></use>
              </svg></span>
          Поздний выезд
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <input id="breakfast" type="checkbox" />
        <label for="breakfast">
            <span><svg>
                <use xlink:href="#check"></use>
              </svg></span>
          Завтрак (+50 грн.)
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form__total">
          К оплате: <span id="totalSum">230</span> грн.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <input id="guestEmail" name="email" type="email" placeholder="Email" required />
      </div>
      <div class="col-12 col-sm-6">
        <input id="phoneNumber" name="phone" type="tel" pattern="[0-9]{7,}" placeholder="Номер телефона" required />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea rows="4" id="bookingComments" placeholder="Комментарии"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form__button">
          <button type="submit" class="button">Забронировать</button>
        </div>
      </div>
    </div>
  </form>
</div>