<section class="section places-box" id="places">
  <div class="container">
    <h2 data-i18n="seeInKharkov"> </h2>

    <div class="places-box__title">
      <div class="row">
        <div class="col">
          <h4 data-i18n="monuments"> </h4>
          <p data-i18n="windowsOverlookPark"> </p>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
          <div class="places-box__info">
            <h5 data-i18n="mirrorStream"> </h5>
            <p data-i18n="Kharkov symbol"> </p>
            <p data-i18n="adrMirrorStream"> </p>
          </div>
        </div>
        <div class="col-md-6">
          <picture>
            <source srcset="assets/images/places/зеркальная-струя.webp" type="image/webp">
            <source srcset="assets/images/places/зеркальная-струя.jpg" type="image/jpeg">
            <img class="places-box__img" src="assets/images/places/зеркальная-струя.jpg"
              data-i18n="[alt]mirrorStream">
          </picture>
        </div>
      </div>
    </div>

    <div class="places-box__item flex-column-reverse">
      <div class="row">
        <div class="col-md-6">
          <picture>
            <source srcset="assets/images/places/памятник-тарасу-шевченко.webp" type="image/webp">
            <source srcset="assets/images/places/памятник-тарасу-шевченко.jpg" type="image/jpeg">
            <img class="places-box__img" src="assets/images/places/памятник-тарасу-шевченко.jpg"
              data-i18n="[alt]Shevchenko">
          </picture>
        </div>
        <div class="col-md-6 order-first order-md-2">
          <div class="places-box__info">
            <h5 data-i18n="Shevchenko"> </h5>
            <p data-i18n="[prepend]aboutShevchenkoA;[append]aboutShevchenkoB"><br></p>
            <p data-i18n="750m"> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
          <div class="places-box__info">
            <h5 data-i18n="PokrovskyCathedral"> </h5>
            <p data-i18n="aboutPokrovskyCathedral"> </p>
            <p data-i18n="1.2km"> </p>
          </div>
        </div>
        <div class="col-md-6">
            <picture>
              <source srcset="assets/images/places/покровский-собор.webp" type="image/webp">
              <source srcset="assets/images/places/покровский-собор.jpg" type="image/jpeg">
              <img class="places-box__img" src="assets/images/places/покровский-собор.jpg"
                data-i18n="[alt]PokrovskyCathedral">
            </picture>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
            <picture>
                <source srcset="assets/images/places/успенский-кафедральный-собор.webp" type="image/webp">
                <source srcset="assets/images/places/успенский-кафедральный-собор.jpg" type="image/jpeg">
                <img class="places-box__img" src="assets/images/places/успенский-кафедральный-собор.jpg"
                  data-i18n="[alt]UspenskiyCathedral">
              </picture>
        </div>
        <div class="col-md-6 order-first order-md-2">
          <div class="places-box__info">
            <h5 data-i18n="UspenskiyCathedral"> </h5>
            <p data-i18n="[prepend]aboutUspenskiyCathedralA;[append]aboutUspenskiyCathedralB"><br></p>
            <p data-i18n="houseOrganMusic"> </p>
            <p data-i18n="1.3km"> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
          <div class="places-box__info">
            <h5 data-i18n="houseSpire"> </h5>
            <p data-i18n="aboutHouseSpire"> </p>
            <p data-i18n="1.5km"> </p>
          </div>
        </div>
        <div class="col-md-6">
            <picture>
                <source srcset="assets/images/places/жилой-дом-со-шпилем.webp" type="image/webp">
                <source srcset="assets/images/places/жилой-дом-со-шпилем.jpg" type="image/jpeg">
                <img class="places-box__img" src="assets/images/places/жилой-дом-со-шпилем.jpg"
                  data-i18n="[alt]houseSpire">
              </picture>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
            <picture>
                <source srcset="assets/images/places/благовещенский-собор.webp" type="image/webp">
                <source srcset="assets/images/places/благовещенский-собор.jpg" type="image/jpeg">
                <img class="places-box__img" src="assets/images/places/благовещенский-собор.jpg"
                  data-i18n="[alt]BlagoveshchenskyCathedral">
              </picture>
        </div>
        <div class="col-md-6 order-first order-md-2">
          <div class="places-box__info">
            <h5 data-i18n="BlagoveshchenskyCathedral"> </h5>
            <p data-i18n="aboutBlagoveshchenskyCathedral"> </p>
            <p data-i18n="1.8km"> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="places-box__location">
      <div class="gmap"></div>
      <p data-i18n="6miracles">       <a class="link-dash" href="" data-i18n="clickHere"> </a> </p>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
          <div class="places-box__info">
            <h5 data-i18n="[prepend]gospromA;[append]gospromB"><br></h5>
            <p data-i18n="aboutGosprom"> </p>
            <p data-i18n="locationGosprom"> </p>
          </div>
        </div>
        <div class="col-md-6">
            <picture>
                <source srcset="assets/images/places/госпром.webp" type="image/webp">
                <source srcset="assets/images/places/госпром.jpg" type="image/jpeg">
                <img class="places-box__img" src="assets/images/places/госпром.jpg"
                  data-i18n="[alt]gosprom">
              </picture>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
            <picture>
                <source srcset="assets/images/places/площадь-свободы.webp" type="image/webp">
                <source srcset="assets/images/places/площадь-свободы.jpg" type="image/jpeg">
                <img class="places-box__img" src="assets/images/places/площадь-свободы.jpg"
                  data-i18n="[alt]squareSvobody">
              </picture>
        </div>
        <div class="col-md-6 order-first order-md-2">
          <div class="places-box__info">
            <h5 data-i18n="squareSvobody"> </h5>
            <p data-i18n="[prepend]aboutSquareSvobodyA;[append]aboutSquareSvobodyB"><br></p>
            <p data-i18n="1.1km"> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="places-box__location places-box__location-short">
      <div class="gmap"></div>
      <p data-i18n="[prepend]7miraclesA"> <br> <t data-i18n="7miraclesB"></t><a class="link-dash"
          href="" data-i18n="clickHere"> </a></p>
    </div>

    <div class="places-box__title">
      <div class="row">
        <div class="col">
          <div class="places-box__title">
            <h5 data-i18n="parks"> </h5>
            <p data-i18n="windowsOverlookPark"> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
            <picture>
                <source srcset="assets/images/places/парк-горького.webp" type="image/webp">
                <source srcset="assets/images/places/парк-горького.jpg" type="image/jpeg">
                <img class="places-box__img" src="assets/images/places/парк-горького.jpg"
                  data-i18n="[alt]GorkyPark">
              </picture>
        </div>
        <div class="col-md-6 order-first order-md-2">
          <div class="places-box__info">
            <h5 data-i18n="GorkyPark"> </h5>
            <p><t data-i18n="aboutGorkyParkA"></t><br><t data-i18n="aboutGorkyParkB"></t><br><t data-i18n="aboutGorkyParkC"></t></p>
            <p data-i18n="weekendGorkyPark"> </p>
            <p data-i18n="[prepend]howToGetGorkyParkA;[append]howToGetGorkyParkB"><br></p>
          </div>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
          <div class="places-box__info">
            <h5 data-i18n="ecopark"> </h5>
            <p data-i18n="aboutEcopark"> </p>
            <p data-i18n="howToGet">:<br> <a
                href="https://feldman-ecopark.com/o_ekoparke#how_to_get"> https://feldman-ecopark.com/o_ekoparke#how_to_get</a>
            </p>
          </div>
        </div>
        <div class="col-md-6">
            <picture>
                <source srcset="assets/images/places/фельдман-экопарк.webp" type="image/webp">
                <source srcset="assets/images/places/фельдман-экопарк.jpg" type="image/jpeg">
                <img class="places-box__img" src="assets/images/places/фельдман-экопарк.jpg"
                  data-i18n="[alt]ecopark">
              </picture>
        </div>
      </div>
    </div>

  </div>
 </section>
