<section class="section places-box" id="places">
  <div class="container">
    <h2 data-i18n="seeInKharkov"> </h2>

    <div class="places-box__title">
      <div class="row">
        <div class="col">
          <h4 data-i18n="monuments"> </h4>
          <p data-i18n="windowsOverlookPark"> </p>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
          <div class="places-box__info">
            <h5 data-i18n="mirrorStream"> </h5>
            <p data-i18n="Kharkov symbol"> </p>
            <p data-i18n="adrMirrorStream"> </p>
          </div>
        </div>
        <div class="col-md-6">
          <picture>
            <img class="places-box__img lazyload" src="assets/images/places/zerkalnaya-struya.jpg"
              data-i18n="[alt]mirrorStream">
          </picture>
        </div>
      </div>
    </div>

    <div class="places-box__item flex-column-reverse">
      <div class="row">
        <div class="col-md-6">
          <picture>
            <img class="places-box__img lazyload" src="assets/images/places/pamaytnik-tarasu-shevchenko.jpg"
              data-i18n="[alt]Shevchenko">
          </picture>
        </div>
        <div class="col-md-6 order-first order-md-2">
          <div class="places-box__info">
            <h5 data-i18n="Shevchenko"> </h5>
            <p><t data-i18n="aboutShevchenkoA"></t><br><t data-i18n="aboutShevchenkoB"></t></p>
            <p data-i18n="750m"> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
          <div class="places-box__info">
            <h5 data-i18n="PokrovskyCathedral"> </h5>
            <p data-i18n="aboutPokrovskyCathedral"> </p>
            <p data-i18n="1.2km"> </p>
          </div>
        </div>
        <div class="col-md-6">
            <picture>
              <img class="places-box__img lazyload" src="assets/images/places/pokrovsky-sobor.jpg"
                data-i18n="[alt]PokrovskyCathedral">
            </picture>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
            <picture>
                <img class="places-box__img lazyload" src="assets/images/places/uspenskiy-sobor.jpg"
                  data-i18n="[alt]UspenskiyCathedral">
              </picture>
        </div>
        <div class="col-md-6 order-first order-md-2">
          <div class="places-box__info">
            <h5 data-i18n="UspenskiyCathedral"> </h5>
            <p><t data-i18n="aboutUspenskiyCathedralA"></t><br><t data-i18n="aboutUspenskiyCathedralB"></t></p>
            <p data-i18n="houseOrganMusic"> </p>
            <p data-i18n="1.3km"> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
          <div class="places-box__info">
            <h5 data-i18n="houseSpire"> </h5>
            <p data-i18n="aboutHouseSpire"> </p>
            <p data-i18n="1.5km"> </p>
          </div>
        </div>
        <div class="col-md-6">
            <picture>
                <img class="places-box__img lazyload" src="assets/images/places/giloy-dom-so-shpilem.jpg"
                  data-i18n="[alt]houseSpire">
              </picture>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
            <picture>
                <img class="places-box__img lazyload" src="assets/images/places/blagoveschensliy-sobor.jpg"
                  data-i18n="[alt]BlagoveshchenskyCathedral">
              </picture>
        </div>
        <div class="col-md-6 order-first order-md-2">
          <div class="places-box__info">
            <h5 data-i18n="BlagoveshchenskyCathedral"> </h5>
            <p data-i18n="aboutBlagoveshchenskyCathedral"> </p>
            <p data-i18n="1.8km"> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="places-box__location">
      <div class="gmap"></div>
      <p data-i18n="6miracles">       <a class="link-dash" href="" data-i18n="clickHere"> </a> </p>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
          <div class="places-box__info">
            <h5><t data-i18n="gospromA"></t><br><t data-i18n="gospromB"></t></h5>
            <p data-i18n="aboutGosprom"> </p>
            <p data-i18n="locationGosprom"> </p>
          </div>
        </div>
        <div class="col-md-6">
            <picture>
                <img class="places-box__img lazyload" src="assets/images/places/gosprom.jpg"
                  data-i18n="[alt]gosprom">
              </picture>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
            <picture>
                <img class="places-box__img lazyload" src="assets/images/places/ploshad-svobody.jpg"
                  data-i18n="[alt]squareSvobody">
              </picture>
        </div>
        <div class="col-md-6 order-first order-md-2">
          <div class="places-box__info">
            <h5 data-i18n="squareSvobody"> </h5>
            <p><t data-i18n="aboutSquareSvobodyA"></t><br><t data-i18n="aboutSquareSvobodyB"></t></p>
            <p data-i18n="1.1km"> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="places-box__location places-box__location-short">
      <div class="gmap"></div>
      <p><t data-i18n="7miraclesA"></t><br> <t data-i18n="7miraclesB"></t><a class="link-dash"
          href="" data-i18n="clickHere"> </a></p>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
            <picture>
                <img class="places-box__img lazyload" src="assets/images/places/park-horkogo.jpg"
                  data-i18n="[alt]GorkyPark">
              </picture>
        </div>
        <div class="col-md-6 order-first order-md-2">
          <div class="places-box__info">
            <h5 data-i18n="GorkyPark"> </h5>
            <p><t data-i18n="aboutGorkyParkA"></t><br><t data-i18n="aboutGorkyParkB"></t><br><t data-i18n="aboutGorkyParkC"></t></p>
            <p data-i18n="weekendGorkyPark"> </p>
            <p><t data-i18n="howToGetGorkyParkA"></t><br><t data-i18n="howToGetGorkyParkB"></t></p>
          </div>
        </div>
      </div>
    </div>

    <div class="places-box__item">
      <div class="row">
        <div class="col-md-6">
          <div class="places-box__info">
            <h5 data-i18n="ecopark"> </h5>
            <p><t data-i18n="aboutEcopark"></t><noindex><a rel="nofollow" href="https://feldman-ecopark.com/o_ekoparke#how_to_get"> https://feldman-ecopark.com/o_ekoparke#how_to_get</a></noindex></p>
            </p>
          </div>
        </div>
        <div class="col-md-6">
            <picture>
                <img class="places-box__img lazyload" src="assets/images/places/feldman-ekopark.jpg"
                  data-i18n="[alt]ecopark">
              </picture>
        </div>
      </div>
    </div>

  </div>
 </section>
