<section class="section price-box">
    <h2>Цены</h2>
  <div class="container">
    <div class="row">
    <div class="col-md-6">
      <table class="table price-box__table">
        <thead>
          <tr>
            <th></th>
            <th>Будние дни</th>
            <th>Выходные дни</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>Стандартный номер</td>
              <td><strong>230</strong> грн</td>
              <td><strong>250</strong> грн</td>
            </tr>
          <tr>
            <td>Женский номер</td>
            <td><strong>250</strong> грн</td>
            <td><strong>280</strong> грн</td>
          </tr>
        </tbody>
      </table>
      <p>Ранее заселение (до 14.00): +<strong>50%</strong> к стоимости</p>
      <p>Поздний выезд (после 12.00): +<strong>50% </strong> к стоимости</p>
      <p class="last-p">Завтрак: <strong>40</strong> грн.</p>
    </div>
    <div class="col-md-6">
      <div class="sales">
        <h3>Cкидки</h3>
        <ul class="list-unstyled">
          <li> -<strong>10%</strong> при условии бронирования за 2 недели с предоплатой</li>
          <li>-<strong>5% </strong> бронирование за 7 суток с предоплатой</li>
          <li> -<strong>3%</strong> группы от 4-х человек</li>
          <li> -<strong>5% </strong> при бронировании на 7+ дней (предоплата)</li>
          <li> -<strong>7% </strong> при бронировании на месяц (предоплата)</li>
        </ul>
         <p class="last-p"> Примечание: Скидки не суммируются</p>
      </div>
    </div>
    </div>
  </div>
</section>
