<section class="section price-box">
    <h2 data-i18n="Prices"> </h2>
  <div class="container">
    <div class="row">
    <div class="col-md-6">
      <table class="table price-box__table">
        <thead>
          <tr>
            <th> </th>
            <th data-i18n="weekDays"> </th>
            <th data-i18n="weekEnds"> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td data-i18n="stNumber"> </td>
              <td><strong data-i18n="230UAH"></strong><t data-i18n="UAH"></t></td>
              <td><strong data-i18n="250UAH"></strong><t data-i18n="UAH"></t></td>
            </tr>
          <tr>
            <td data-i18n="femaleNumber"> </td>
              <td><strong data-i18n="250UAH"></strong><t data-i18n="UAH"></t></td>
              <td><strong data-i18n="280UAH"></strong><t data-i18n="UAH"></t></td>
          </tr>
        </tbody>
      </table>
      <p><t data-i18n="earlySettlementA"></t><strong>50%</strong><t data-i18n="earlySettlementB"></t></p>
      <p><t data-i18n="lateCheckOutA"></t><strong>50% </strong><t data-i18n="lateCheckOutB"></t></p>
      <p class="last-p"><t data-i18n="breakfastA"></t><strong>50</strong><t data-i18n="breakfastB"></t></p>
    </div>
    <div class="col-md-6">
      <div class="sales">
        <h3 data-i18n="discounts"> </h3>
        <ul class="list-unstyled">
          <li><strong>-10%</strong><t data-i18n="2weeks"></t></li>
          <li><strong>-5%</strong><t data-i18n="7days"></t></li>
          <li><strong>-3%</strong><t data-i18n="4people"></t></li>
          <li><strong>-5% </strong><t data-i18n="7daysPlus"></t></li>
          <li><strong>-7%</strong><t data-i18n="month"></t></li>
        </ul>
         <p class="last-p" data-i18n="note"> </p>
      </div>
    </div>
    </div>
  </div>
</section>
