<section class="section price-box">
    <h2 data-i18n="Prices"> </h2>
  <div class="container">
    <div class="row">
    <div class="col-md-6">
      <table class="table price-box__table">
        <thead>
          <tr>
            <th> </th>
            <th data-i18n="weekDays"> </th>
            <th data-i18n="weekEnds"> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td data-i18n="stNumber"> </td>
              <td data-i18n="[append]UAH"><strong data-i18n="230UAH"></strong></td>
              <td data-i18n="[append]UAH"><strong data-i18n="250UAH"></strong></td>
            </tr>
          <tr>
            <td data-i18n="femaleNumber"> </td>
              <td data-i18n="[append]UAH"><strong data-i18n="250UAH"></strong></td>
              <td data-i18n="[append]UAH"><strong data-i18n="280UAH"></strong></td>
          </tr>
        </tbody>
      </table>
      <p data-i18n="[prepend]earlySettlementA;[append]earlySettlementB"><strong>50%</strong></p>
      <p data-i18n="[prepend]lateCheckOutA;[append]lateCheckOutB"><strong>50% </strong></p>
      <p class="last-p" data-i18n="[prepend]breakfastA;[append]breakfastB"><strong>50</strong></p>
    </div>
    <div class="col-md-6">
      <div class="sales">
        <h3 data-i18n="discounts"> </h3>
        <ul class="list-unstyled">
          <li data-i18n="[append]2weeks"><strong>-10%</strong></li>
          <li data-i18n="[append]7days"><strong>-5%</strong></li>
          <li data-i18n="[append]4people"><strong>-3%</strong></li>
          <li data-i18n="[append]7daysPlus"><strong>-5% </strong></li>
          <li data-i18n="[append]month"><strong>-7%</strong></li>
        </ul>
         <p class="last-p" data-i18n="note"> </p>
      </div>
    </div>
    </div>
  </div>
</section>
