<section class="section rooms-box gray anchor" id="rooms">
  <div class="container">
    <h2 data-i18n="numbersAndPrices"> </h2>
    <div id="tabs_1" class="tabs tabs__colors rooms-box__tabs">
      <div class="tab-menu">
        <a class="item red active" href="#tabs_1_1" data-i18n="redNumberTab"> </a>
        <a class="item green" href="#tabs_1_2" data-i18n="greenNumberTab"> </a>
        <a class="item blue" href="#tabs_1_3" data-i18n="blueNumberTab"> </a>
        <a class="item purple" href="#tabs_1_4" data-i18n="purpleNumberTab"> </a>
        <a class="item yellow" href="#tabs_1_5" data-i18n="yellowNumberTab"> </a>
        <a class="item gray" href="#tabs_1_6" data-i18n="grayNumberTab"> </a>
      </div>
      <div class="tab-content container">
        <a class="item red active" href="#tabs_1_1" data-i18n="redNumberTab"> </a>
        <div id="tabs_1_1" class="item-content active">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_1">
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/hostel-female-room.jpg" data-i18n="[alt]redNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/hostel-female-dorm.jpg" data-i18n="[alt]redNumber1">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/ledies-hostel-kharkov.jpg" data-i18n="[alt]redNumber2">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="redNumberCaption"> </h3>
                  <p class="number__guests" data-i18n="4women"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="condition"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="nightLight"></t> 
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="locker1"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="tableAndChairs"></t>
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="personalLamp"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="bedSockets"></t>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t></div>
                      <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t></div>
                    </div>
                    <p class="add-cost"><span>+50</span><t data-i18n="UAHPerDay"></t></p>
                  </div>
                  <div class="number__book">
                    <a class="open-modal button" href="#modal-book-room" index="0" data-i18n="makeReservation">
                    </a>
                    <div class="sale"><t data-i18n="discountEarlyReservationA"></t><br><t data-i18n="discountEarlyReservationB"></t></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item green active" href="#tabs_1_2" data-i18n="greenNumberTab"> </a>
        <div id="tabs_1_2" class="item-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_2">
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/green-hostel-room-kharkiv.jpg" data-i18n="[alt]greenNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/art-hostel.jpg" data-i18n="[alt]greenNumber1">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/design-hostel.jpg" data-i18n="[alt]greenNumber2">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/hostel-design-kharkov.jpg" data-i18n="[alt]greenNumber3">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/eco-hostel.jpg" data-i18n="[alt]greenNumber4">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="greenNumberCaption"> </h3>
                  <p class="number__guests" data-i18n="4MenWomen"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="condition"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="nightLight"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="locker1"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="tableAndChairs"></t>
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="personalLamp"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="bedSockets"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="balcony"></t>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t></div>
                      <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t></div>
                    </div>
                    <p class="add-cost"><span>+50</span><t data-i18n="breakfastOrder"></t></p>
                    <div class="number__book">
                      <a class="open-modal button" href="#modal-book-room" index="1" data-i18n="makeReservation">
                        
                      </a>
                      <div class="sale"><t data-i18n="discountEarlyReservationA"></t><br><t data-i18n="discountEarlyReservationB"></t></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item blue active" href="#tabs_1_3" data-i18n="blueNumberTab"> </a>
        <div id="tabs_1_3" class="item-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_3">
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/inexpensive-hostel-Kharkov.jpg" data-i18n="[alt]blueNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/cheap-hostel-kharkov.jpg" data-i18n="[alt]blueNumber1">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/cheap-hostels-near-me.jpg" data-i18n="[alt]blueNumber2">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/cheap-hostels.jpg" data-i18n="[alt]blueNumber3">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/inexpensive-hostels.jpg" data-i18n="[alt]blueNumber4">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="blueNumberCaption"> </h3>
                  <p class="number__guests" data-i18n="4MenWomen"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="condition"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="nightLight"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="locker1"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="tableAndChairs"></t>
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="personalLamp"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="bedSockets"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="balcony"></t>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t></div>
                      <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t></div>
                    </div>
                    <p class="add-cost"><span>+50</span><t data-i18n="breakfastOrder"></t></p>
                  </div>
                    <div class="number__book">
                      <a class="open-modal button" href="#modal-book-room" index="2" data-i18n="makeReservation">
                        
                      </a>
                      <div class="sale"><t data-i18n="discountEarlyReservationA"></t><br><t data-i18n="discountEarlyReservationB"></t></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item purple active" href="#tabs_1_4" data-i18n="purpleNumberTab"> </a>
        <div id="tabs_1_4" class="item-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_4">
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/booking-hostel-kharkov.jpg" data-i18n="[alt]purpleNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/booking-hostel-kharkiv.jpg" data-i18n="[alt]purpleNumber0">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/booking-cheap-hostel.jpg" data-i18n="[alt]purpleNumber1">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/best-hostel-kharkov.jpg" data-i18n="[alt]purpleNumber2">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/best-cheap-hostel-kharkov.jpg" data-i18n="[alt]purpleNumber3">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="purpleNumberCaption"> </h3>
                  <p class="number__guests" data-i18n="4MenWomen"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="condition"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="nightLight"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="locker1"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="tableAndChairs"></t>
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="personalLamp"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="bedSockets"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="balcony"></t>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t></div>
                      <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t></div>
                    </div>
                    <p class="add-cost"><span>+50</span><t data-i18n="breakfastOrder"></t></p>
                  </div>
                    <div class="number__book">
                      <a class="open-modal button" href="#modal-book-room" index="3" data-i18n="makeReservation">
                        
                      </a>
                      <div class="sale"><t data-i18n="discountEarlyReservationA"></t><br><t data-i18n="discountEarlyReservationB"></t></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item yellow active" href="#tabs_1_5" data-i18n="yellowNumberTab"> </a>
        <div id="tabs_1_5" class="item-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_5">
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/eurohostel-kharkov.jpg" data-i18n="[alt]yellowNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/hostels-near-me.jpg" data-i18n="[alt]yellowNumber1">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/boys-hostel.jpg" data-i18n="[alt]yellowNumber2">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/native-hostel.jpg" data-i18n="[alt]yellowNumber3">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/dream-hostel.jpg" data-i18n="[alt]yellowNumber4">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="yellowNumberCaption"> </h3>
                  <p class="number__guests" data-i18n="4MenWomen"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="condition"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="nightLight"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="locker1"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="tableAndChairs"></t>
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="personalLamp"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="bedSockets"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="balcony"></t>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t></div>
                      <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t></div>
                    </div>
                    <p class="add-cost"><span>+50</span><t data-i18n="breakfastOrder"></t></p>
                  </div>
                    <div class="number__book">
                      <a class="open-modal button" href="#modal-book-room" index="4" data-i18n="makeReservationCaption">
                        
                      </a>
                      <div class="sale"><t data-i18n="discountEarlyReservationA"></t><br><t data-i18n="discountEarlyReservationB"></t></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item gray active" href="#tabs_1_6" data-i18n="grayNumberTab"> </a>
        <div id="tabs_1_6" class="item-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_6">
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/city-hostel-kharkov.jpg" data-i18n="[alt]grayNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/hostel-room.jpg" data-i18n="[alt]grayNumber1">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/center-kharkov-hostel.jpg" data-i18n="[alt]grayNumber2">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/hostel-on-pushkinskaya.jpg" data-i18n="[alt]grayNumber3">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <img class="lazyload" src="assets/images/hostel/kharkiv-pushkinskaya-center-hostel.jpg" data-i18n="[alt]grayNumber4">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="grayNumberCaption"> </h3>
                  <p class="number__guests" data-i18n="4MenWomen"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="condition"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="nightLight"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="locker1"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="tableAndChairs"></t>
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="personalLamp"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="bedSockets"></t>
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            <t data-i18n="balcony"></t>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span data-i18n="230UAH"></span><t data-i18n="UAHPerDay"></t></div>
                      <div class="weekend"><span data-i18n="250UAH"></span><t data-i18n="UAHPerDay"></t></div>
                    </div>
                    <p class="add-cost"><span>+50</span><t data-i18n="breakfastOrder"></t></p>
                  </div>
                    <div class="number__book">
                      <a class="open-modal button" href="#modal-book-room" index="5" data-i18n="makeReservation">
                        
                      </a>
                      <div class="sale"><t data-i18n="discountEarlyReservationA"></t><br><t data-i18n="discountEarlyReservationB"></t></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
