<section class="section rooms-box gray anchor" id="rooms">
  <div class="container">
    <h2 data-i18n="numbersAndPrices"> </h2>
    <div id="tabs_1" class="tabs tabs__colors rooms-box__tabs">
      <div class="tab-menu">
        <a class="item red active" href="#tabs_1_1" data-i18n="redNumber"> </a>
        <a class="item green" href="#tabs_1_2" data-i18n="greenNumber"> </a>
        <a class="item blue" href="#tabs_1_3" data-i18n="blueNumber"> </a>
        <a class="item purple" href="#tabs_1_4" data-i18n="purpleNumber"> </a>
        <a class="item yellow" href="#tabs_1_5" data-i18n="yellowNumber"> </a>
        <a class="item gray" href="#tabs_1_6" data-i18n="grayNumber"> </a>
      </div>
      <div class="tab-content container">
        <a class="item red active" href="#tabs_1_1" data-i18n="redNumber"> </a>
        <div id="tabs_1_1" class="item-content active">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_1">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/red-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/red-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/red-1.jpg" data-i18n="[alt]redNumber"
>
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/red-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/red-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/red-2.jpg" data-i18n="[alt]redNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/red-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/red-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/red-3.jpg" data-i18n="[alt]redNumber">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="redNumber"> </h3>
                  <p class="number__guests" data-i18n="4women"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]condition">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                                         </li>
                          <li data-i18n="[append]nightLight">
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]locker1">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                                                      </li>
                          <li data-i18n="[append]tableAndChairs">
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                                           </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]personalLamp">
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]bedSockets">
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays" data-i18n="[append]UAHPerDay"><span data-i18n="230UAH"></span></div>
                      <div class="weekend" data-i18n="[append]UAHPerDay"><span data-i18n="250UAH"></span></div>
                    </div>
                    <p class="add-cost" data-i18n="[append]breakfastOrder"><span>+50</span></p>
                  </div>
                  <div class="number__book">
                    <a class="open-modal button" href="#modal-book-room" index="0" data-i18n="makeReservation">
                    </a>
                    <div class="sale" data-i18n="[prepend]discountEarlyReservationA;[append]discountEarlyReservationB"><br></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item green active" href="#tabs_1_2" data-i18n="greenNumber"> </a>
        <div id="tabs_1_2" class="item-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_2">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/green-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/green-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/green-1.jpg" data-i18n="[alt]greenNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/green-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/green-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/green-2.jpg" data-i18n="[alt]greenNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/green-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/green-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/green-3.jpg" data-i18n="[alt]greenNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/green-4.webp" type="image/webp">
                      <source srcset="assets/images/hostel/green-4.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/green-4.jpg" data-i18n="[alt]greenNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/green-5.webp" type="image/webp">
                      <source srcset="assets/images/hostel/green-5.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/green-5.jpg" data-i18n="[alt]greenNumber">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="greenNumber"> </h3>
                  <p class="number__guests" data-i18n="4MenWomen"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]condition">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                                                    </li>
                          <li data-i18n="[append]nightLight">
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                                                      </li>
                          <li data-i18n="[append]locker1">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]tableAndChairs">
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]personalLamp">
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                                                      </li>
                          <li data-i18n="[append]bedSockets">
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]balcony">
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays" data-i18n="[append]UAHPerDay"><span data-i18n="230UAH"></span></div>
                      <div class="weekend" data-i18n="[append]UAHPerDay"><span data-i18n="250UAH"></span></div>
                    </div>
                    <p class="add-cost" data-i18n="[append]breakfastOrder"><span>+50</span></p>
                    <div class="number__book">
                      <a class="open-modal button" href="#modal-book-room" index="1" data-i18n="makeReservation">
                        
                      </a>
                      <div class="sale" data-i18n="[prepend]discountEarlyReservationA;[append]discountEarlyReservationB"><br></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item blue active" href="#tabs_1_3" data-i18n="blueNumber"> </a>
        <div id="tabs_1_3" class="item-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_3">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/blue-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/blue-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/blue-1.jpg" data-i18n="[alt]blueNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/blue-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/blue-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/blue-2.jpg" data-i18n="[alt]blueNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/blue-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/blue-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/blue-3.jpg" data-i18n="[alt]blueNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/blue-4.webp" type="image/webp">
                      <source srcset="assets/images/hostel/blue-4.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/blue-4.jpg" data-i18n="[alt]blueNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/blue-5.webp" type="image/webp">
                      <source srcset="assets/images/hostel/blue-5.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/blue-5.jpg" data-i18n="[alt]blueNumber">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="blueNumber"> </h3>
                  <p class="number__guests" data-i18n="4MenWomen"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]condition">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]nightLight">
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]locker1">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]tableAndChairs">
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]personalLamp">
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]bedSockets">
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]balcony">
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays" data-i18n="[append]UAHPerDay"><span data-i18n="230UAH"></span></div>
                      <div class="weekend" data-i18n="[append]UAHPerDay"><span data-i18n="250UAH"></span></div>
                    </div>
                    <p class="add-cost" data-i18n="[append]breakfastOrder"><span>+50</span></p>
                  </div>
                  <div class="number__book">
                    <a class="open-modal button" href="#modal-book-room" index="2" data-i18n="makeReservation">
                      
                    </a>
                    <div class="sale" data-i18n="[prepend]discountEarlyReservationA;[append]discountEarlyReservationB"><br></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item purple active" href="#tabs_1_4" data-i18n="purpleNumber"> </a>
        <div id="tabs_1_4" class="item-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_4">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/viol-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/viol-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/viol-1.jpg" data-i18n="[alt]purpleNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/viol-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/viol-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/viol-2.jpg" data-i18n="[alt]purpleNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/viol-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/viol-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/viol-3.jpg" data-i18n="[alt]purpleNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/viol-4.webp" type="image/webp">
                      <source srcset="assets/images/hostel/viol-4.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/viol-4.jpg" data-i18n="[alt]purpleNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/viol-5.webp" type="image/webp">
                      <source srcset="assets/images/hostel/viol-5.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/viol-5.jpg" data-i18n="[alt]purpleNumber">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="purpleNumber"> </h3>
                  <p class="number__guests" data-i18n="4MenWomen"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]condition">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]nightLight">
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]locker1">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]tableAndChairs">
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]personalLamp">
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]bedSockets">
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]balcony">
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays" data-i18n="[append]UAHPerDay"><span data-i18n="230UAH"></span></div>
                      <div class="weekend" data-i18n="[append]UAHPerDay"><span data-i18n="250UAH"></span></div>
                    </div>
                    <p class="add-cost" data-i18n="[append]breakfastOrder"><span>+50</span></p>
                  </div>
                  <div class="number__book">
                    <a class="open-modal button" href="#modal-book-room" index="3" data-i18n="makeReservation">
                      
                    </a>
                    <div class="sale" data-i18n="[prepend]discountEarlyReservationA;[append]discountEarlyReservationB"><br></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item yellow active" href="#tabs_1_5" data-i18n="yellowNumber"> </a>
        <div id="tabs_1_5" class="item-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_5">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/yellow-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/yellow-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/yellow-1.jpg" data-i18n="[alt]yellowNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/yellow-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/yellow-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/yellow-2.jpg" data-i18n="[alt]yellowNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/yellow-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/yellow-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/yellow-3.jpg" data-i18n="[alt]yellowNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/yellow-4.webp" type="image/webp">
                      <source srcset="assets/images/hostel/yellow-4.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/yellow-4.jpg" data-i18n="[alt]yellowNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/yellow-5.webp" type="image/webp">
                      <source srcset="assets/images/hostel/yellow-5.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/yellow-5.jpg" data-i18n="[alt]yellowNumber">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="yellowNumber"> </h3>
                  <p class="number__guests" data-i18n="4MenWomen"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]condition">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]nightLight">
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]locker1">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                                                     </li>
                          <li data-i18n="[append]tableAndChairs">
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]personalLamp">
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]bedSockets">
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]balcony">
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays" data-i18n="[append]UAHPerDay"><span data-i18n="230UAH"></span></div>
                      <div class="weekend" data-i18n="[append]UAHPerDay"><span data-i18n="250UAH"></span></div>
                    </div>
                    <p class="add-cost" data-i18n="[append]breakfastOrder"><span>+50</span></p>
                  </div>
                  <div class="number__book">
                    <a class="open-modal button" href="#modal-book-room" index="4" data-i18n="makeReservation">
                      
                    </a>
                    <div class="sale" data-i18n="[prepend]discountEarlyReservationA;[append]discountEarlyReservationB"><br></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item gray active" href="#tabs_1_6" data-i18n="grayNumber"> </a>
        <div id="tabs_1_6" class="item-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_6">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/brown-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/brown-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/brown-1.jpg" data-i18n="[alt]grayNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/brown-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/brown-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/brown-2.jpg" data-i18n="[alt]grayNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/brown-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/brown-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/brown-3.jpg" data-i18n="[alt]grayNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/brown-4.webp" type="image/webp">
                      <source srcset="assets/images/hostel/brown-4.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/brown-4.jpg" data-i18n="[alt]grayNumber">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/brown-5.webp" type="image/webp">
                      <source srcset="assets/images/hostel/brown-5.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/brown-5.jpg" data-i18n="[alt]grayNumber">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3 data-i18n="grayNumber"> </h3>
                  <p class="number__guests" data-i18n="4MenWomen"> </p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]condition">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]nightLight">
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]locker1">
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]tableAndChairs">
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                                                      </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li data-i18n="[append]personalLamp">
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]bedSockets">
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                          <li data-i18n="[append]balcony">
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays" data-i18n="[append]UAHPerDay"><span data-i18n="230UAH"></span></div>
                      <div class="weekend" data-i18n="[append]UAHPerDay"><span data-i18n="250UAH"></span></div>
                    </div>
                    <p class="add-cost" data-i18n="[append]breakfastOrder"><span>+50</span></p>
                  </div>
                  <div class="number__book">
                    <a class="open-modal button" href="#modal-book-room" index="5" data-i18n="makeReservation">
                    </a>
                    <div class="sale" data-i18n="[prepend]discountEarlyReservationA;[append]discountEarlyReservationB"><br></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>