<section class="section rooms-box gray anchor" id="rooms">
  <div class="container">
    <h2>НОМЕРА И ЦЕНЫ</h2>
    <div id="tabs_1" class="tabs tabs__colors rooms-box__tabs">
      <div class="tab-menu">
        <a class="item red active" href="#tabs_1_1">Красный номер</a>
        <a class="item green" href="#tabs_1_2">Зеленый номер</a>
        <a class="item blue" href="#tabs_1_3">Синий номер</a>
        <a class="item purple" href="#tabs_1_4">Фиолетовый номер</a>
        <a class="item yellow" href="#tabs_1_5">Желтый номер</a>
        <a class="item gray" href="#tabs_1_6">Серый номер</a>
      </div>
      <div class="tab-content container">
        <a class="item red active" href="#tabs_1_1">Красный номер</a>
        <div id="tabs_1_1" class="item-content active">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_1">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/red-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/red-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/red-1.jpg" alt="Красный номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/red-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/red-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/red-2.jpg" alt="Красный номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/red-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/red-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/red-3.jpg" alt="Красный номер">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3>Красный номер</h3>
                  <p class="number__guests">4 человека | Женщины</p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Кондиционер
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Ночное освещение
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Шкафчик с замком (локер)
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Стол и стулья
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Персональный светильник
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Прикроватные розетки
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span>230</span> грн./сутки</div>
                      <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
                    </div>
                    <p class="add-cost">+<span>50</span> грн. при заказе завтрака</p>
                  </div>
                  <div class="number__book">
                    <a class="open-modal button" href="#modal-book-room" index="0">
                      Забронировать
                    </a>
                    <div class="sale">Возможна скидка <br>при раннем бронировании</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item green active" href="#tabs_1_2">Зеленый номер</a>
        <div id="tabs_1_2" class="item-content active">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_2">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/green-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/green-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/green-1.jpg" alt="Зеленый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/green-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/green-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/green-2.jpg" alt="Зеленый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/green-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/green-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/green-3.jpg" alt="Зеленый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/green-4.webp" type="image/webp">
                      <source srcset="assets/images/hostel/green-4.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/green-4.jpg" alt="Зеленый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/green-5.webp" type="image/webp">
                      <source srcset="assets/images/hostel/green-5.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/green-5.jpg" alt="Зеленый номер">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3>Зеленый номер</h3>
                  <p class="number__guests">4 человека | Мужчины и женщины</p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Кондиционер
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Ночное освещение
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Шкафчик с замком (локер)
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Стол и стулья
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Персональный светильник
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Прикроватные розетки
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Балкон
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span>230</span> грн./сутки</div>
                      <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
                    </div>
                    <p class="add-cost">+<span>50</span> грн. при заказе завтрака</p>
                    <div class="number__book">
                      <a class="open-modal button" href="#modal-book-room" index="1">
                        Забронировать
                      </a>
                      <div class="sale">Возможна скидка <br>при раннем бронировании</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item blue active" href="#tabs_1_3">Синий номер</a>
        <div id="tabs_1_3" class="item-content active">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_3">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/blue-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/blue-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/blue-1.jpg" alt="Cиний номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/blue-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/blue-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/blue-2.jpg" alt="Cиний номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/blue-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/blue-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/blue-3.jpg" alt="Cиний номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/blue-4.webp" type="image/webp">
                      <source srcset="assets/images/hostel/blue-4.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/blue-4.jpg" alt="Cиний номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/blue-5.webp" type="image/webp">
                      <source srcset="assets/images/hostel/blue-5.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/blue-5.jpg" alt="Cиний номер">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3>Синий номер</h3>
                  <p class="number__guests">4 человека | Мужчины и женщины</p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Кондиционер
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Ночное освещение
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Шкафчик с замком (локер)
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Стол и стулья
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Персональный светильник
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Прикроватные розетки
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Балкон
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span>230</span> грн./сутки</div>
                      <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
                    </div>
                    <p class="add-cost">+<span>50</span> грн. при заказе завтрака</p>
                  </div>
                  <div class="number__book">
                    <a class="open-modal button" href="#modal-book-room" index="2">
                      Забронировать
                    </a>
                    <div class="sale">Возможна скидка <br>при раннем бронировании</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item purple active" href="#tabs_1_4">Фиолетовый номер</a>
        <div id="tabs_1_4" class="item-content active">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_4">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/viol-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/viol-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/viol-1.jpg" alt="Фиолетовый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/viol-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/viol-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/viol-2.jpg" alt="Фиолетовый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/viol-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/viol-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/viol-3.jpg" alt="Фиолетовый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/viol-4.webp" type="image/webp">
                      <source srcset="assets/images/hostel/viol-4.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/viol-4.jpg" alt="Фиолетовый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/viol-5.webp" type="image/webp">
                      <source srcset="assets/images/hostel/viol-5.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/viol-5.jpg" alt="Фиолетовый номер">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3>Фиолетовый номер</h3>
                  <p class="number__guests">4 человека | Мужчины и женщины</p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Кондиционер
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Ночное освещение
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Шкафчик с замком (локер)
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Стол и стулья
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Персональный светильник
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Прикроватные розетки
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Балкон
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span>230</span> грн./сутки</div>
                      <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
                    </div>
                    <p class="add-cost">+<span>50</span> грн. при заказе завтрака</p>
                  </div>
                  <div class="number__book">
                    <a class="open-modal button" href="#modal-book-room" index="3">
                      Забронировать
                    </a>
                    <div class="sale">Возможна скидка <br>при раннем бронировании</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item yellow active" href="#tabs_1_5">Желтый номер</a>
        <div id="tabs_1_5" class="item-content active">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_5">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/yellow-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/yellow-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/yellow-1.jpg" alt="Желтый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/yellow-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/yellow-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/yellow-2.jpg" alt="Желтый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/yellow-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/yellow-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/yellow-3.jpg" alt="Желтый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/yellow-4.webp" type="image/webp">
                      <source srcset="assets/images/hostel/yellow-4.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/yellow-4.jpg" alt="Желтый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/yellow-5.webp" type="image/webp">
                      <source srcset="assets/images/hostel/yellow-5.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/yellow-5.jpg" alt="Желтый номер">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3>Желтый номер</h3>
                  <p class="number__guests">4 человека | Мужчины и женщины</p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Кондиционер
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Ночное освещение
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Шкафчик с замком (локер)
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Стол и стулья
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Персональный светильник
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Прикроватные розетки
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Балкон
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span>230</span> грн./сутки</div>
                      <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
                    </div>
                    <p class="add-cost">+<span>50</span> грн. при заказе завтрака</p>
                  </div>
                  <div class="number__book">
                    <a class="open-modal button" href="#modal-book-room" index="4">
                      Забронировать
                    </a>
                    <div class="sale">Возможна скидка <br>при раннем бронировании</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="item gray active" href="#tabs_1_6">Серый номер</a>
        <div id="tabs_1_6" class="item-content active">
          <div class="container">
            <div class="row">
              <div class="col-md-6 left-col">
                <div class="slick-slider" id="slider_6">
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/brown-1.webp" type="image/webp">
                      <source srcset="assets/images/hostel/brown-1.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/brown-1.jpg" alt="Серый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/brown-2.webp" type="image/webp">
                      <source srcset="assets/images/hostel/brown-2.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/brown-2.jpg" alt="Серый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/brown-3.webp" type="image/webp">
                      <source srcset="assets/images/hostel/brown-3.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/brown-3.jpg" alt="Серый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/brown-4.webp" type="image/webp">
                      <source srcset="assets/images/hostel/brown-4.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/brown-4.jpg" alt="Серый номер">
                    </picture>
                  </div>
                  <div>
                    <picture>
                      <source srcset="assets/images/hostel/brown-5.webp" type="image/webp">
                      <source srcset="assets/images/hostel/brown-5.jpg" type="image/jpeg">
                      <img src="assets/images/hostel/brown-5.jpg" alt="Серый номер">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right-col">
                <div class="number">
                  <h3>Серый номер</h3>
                  <p class="number__guests">4 человека | Мужчины и женщины</p>
                  <div class="number__info">
                    <div class="row">
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Кондиционер
                          </li>
                          <li>
                            <span>
                              <svg width="17" height="20">
                                <use xlink:href="#nightlight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Ночное освещение
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="18">
                                <use xlink:href="#safe" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Шкафчик с замком (локер)
                          </li>
                          <li>
                            <span>
                              <svg width="16" height="22">
                                <use xlink:href="#chair" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Стол и стулья
                          </li>
                        </ul>
                      </div>
                      <div class="col">
                        <ul class="number__list char-list">
                          <li>
                            <span>
                              <svg width="22" height="18">
                                <use xlink:href="#light" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Персональный светильник
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="21">
                                <use xlink:href="#socket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Прикроватные розетки
                          </li>
                          <li>
                            <span>
                              <svg width="20" height="19">
                                <use xlink:href="#balcony" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg>
                            </span>
                            Балкон
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="number__price">
                    <div class="cost">
                      <div class="weekdays"><span>230</span> грн./сутки</div>
                      <div class="weekend"><span>250</span> грн./сутки (Выходные)</div>
                    </div>
                    <p class="add-cost">+<span>50</span> грн. при заказе завтрака</p>
                  </div>
                  <div class="number__book">
                    <a class="open-modal button" href="#modal-book-room" index="5">
                      Забронировать
                    </a>
                    <div class="sale">Возможна скидка <br>при раннем бронировании</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>