<section class="starter-box">
  <div class="container">
    <div class="starter-box__intro">
      <div class="logo"><svg width="423" height="61"><use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></div>
      <h1 class="slogan">Новый, современный, оборудованный по европейским стандартам хостел, гостиничного типа.</h1>
      <div class="book-box">
        <form action="" class="book-box__form">
            <div class="data-input">
              <label for="checkIn">Дата заезда</label>
              <input name="checkIn" type="text" id="checkIn"/>
            </div>
            <div class="data-input">
                <label for="checkOut">Дата отъезда</label>
                <input name="checkOut" id="checkOut" type="text">
            </div>
            <div class="data-input data-input__submit"><a href="#book-modal" rel="modal:open" class="open-modal  button button-solid color-accent">Забронировать</a></div>
        </form>
      </div>
      <a class="open-modal book__mobile button" href="#book-modal" rel="modal:open">
        Забронировать
      </a>
      <div class="book-box__notice">Получи скидки при <a href="" class="link-dash">раннем</a> бронировании!</div>
    </div>

      <div id="book-modal" class="modal">
        <select class="js-example-basic-single" name="state">
          <option value="Room1">Room1</option>

          <option value="Room1">Room1</option>
        </select>
      </div>
    <div class="starter-box__info">
      <a class="phone" href="tel:+3 (096) 104 90 60">+3 (096) 104 90 60</a>
      <address class="address">Харьков, М Архитектора бекетова<br>ул. Пушкинская, 40. Кв. 71</address>
    </div>
  </div>
</section>
