<section class="starter-box">
  <div class="container  d-flex flex-column justify-content-center">
    <div class="starter-box__intro">
      <div class="logo">
        <svg width="423" height="61">
          <use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="logo-mobile">
        <svg width="240">
          <use xlink:href="#mobile-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <h1 class="slogan" data-i18n="tagline"> </h1>
      <div class="book-box">
        <form action="" class="book-box__form">
          <div class="data-input">
            <label for="checkIn" data-i18n="dateInput"> </label>
            <div class="input-group">
                <span><svg width="19px" height="19px">
                    <use xlink:href="#calendar"> </use>
                  </svg> </span>
                  <input name="checkIn" type="text" id="checkIn" readonly/>
              </div>
            
          </div>
          <div class="data-input">
            <label for="checkOut" data-i18n="dateOutput"> </label>
            <div class="input-group">
                <span><svg width="19px" height="19px">
                    <use xlink:href="#calendar"> </use>
                  </svg> </span>
                  <input name="checkOut" id="checkOut" type="text" readonly />
              </div>
          </div>
          <div class="data-input data-input__submit">
            <a href="#modal-book-room" index="0" class="open-modal button button-solid color-accent" name="initial-modal" data-i18n="makeReservation">
              
            </a>
          </div>
        </form>
      </div>
      <a class="book__mobile open-modal button" name="initial-modal" href="#modal-book-room" index="0" data-i18n="makeReservation"> </a>
      <div class="book-box__notice"><t data-i18n="getDiscountA"></t><a href="" class="link-dash" data-i18n="earlyBookink"></a><t data-i18n="getDiscountB"></t></div>
    </div>

    <div class="starter-box__info">
      <a class="phone" href="tel:+3 (096) 104 90 60">+38 (096) 104 90 60</a>
      <address class="address"><t data-i18n="hostelAddressA"></t><br><t data-i18n="hostelAddressB"></t></address>
    </div>
  </div> 
</section>
