<section class="starter-box">
  <div class="container  d-flex flex-column justify-content-center">
    <div class="starter-box__intro">
      <div class="logo">
        <svg width="423" height="61">
          <use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <div class="logo-mobile">
        <svg width="240">
          <use xlink:href="#mobile-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div>
      <h1 class="slogan">Новый, современный, оборудованный по европейским стандартам хостел, гостиничного типа.</h1>
      <div class="book-box">
        <form action="" class="book-box__form">
          <div class="data-input">
            <label for="checkIn">Дата заезда</label>
            <input name="checkIn" type="text" id="checkIn" readonly />
          </div>
          <div class="data-input">
            <label for="checkOut">Дата отъезда</label>
            <input name="checkOut" id="checkOut" type="text" readonly />
          </div>
          <div class="data-input data-input__submit">
            <a href="#modal-book-room" index="0" class="open-modal button button-solid color-accent" name="initial-modal">
              Забронировать
            </a>
          </div>
        </form>
      </div>
      <a class="book__mobile open-modal button" name="initial-modal" href="#modal-book-room" index="0">Забронировать</a>
      <div class="book-box__notice">Получи скидки при <a href="" class="link-dash">раннем</a> бронировании!</div>
    </div>

    <div class="starter-box__info">
      <a class="phone" href="tel:+3 (096) 104 90 60">+3 (096) 104 90 60</a>
      <address class="address">Харьков, М Архитектора бекетова<br>ул. Пушкинская, 40. Кв. 71</address>
    </div>
  </div>
</section>
