<section class="section transport-box anchor" id="transport">

  <h2 data-i18n="transportation"
> </h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="transport-box__title-holder">
          <svg>
            <use xlink:href="#metro"> </use>
          </svg>
          <div class="transport-box__title">
            <h5 data-i18n="underground"> </h5>
            <p data-i18n="modeUnderground"> </p>
          </div>
        </div>
        <div class="transport-box__info">
          <p><t data-i18n="aboutUndergroundA"></t><br><t data-i18n="aboutUndergroundB"></t></p>
          <p><t data-i18n="costUndergroundA"></t><br><t data-i18n="costUndergroundB"></t></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="transport-box__title-holder">
          <svg>
            <use xlink:href="#taxi"> </use>
          </svg>
          <div class="transport-box__title">
            <h5 data-i18n="taxi"> </h5>
            <p data-i18n="modeTaxi"> </p>
          </div>
        </div>
        <div class="transport-box__info">
          <p data-i18n="aboutTaxi"> </p>
          <ul>
            <li data-i18n="OnTaxi"> </li>
            <li data-i18n="3040Taxi"> </li>
          </ul>
          <p data-i18n="costTaxi"> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5 data-i18n="railwayStation"> </h5>
        <div class="transport-box__info">
          <p><t data-i18n="railwayStationInfoA"></t><br><t data-i18n="railwayStationInfoB"></t></p>
          <p class="last-p" data-i18n="costTaxiVokzal"> </p>
        </div>
      </div>
      <div class="col-md-6">
        <h5 data-i18n="airport"> </h5>
        <div class="transport-box__info">
          <p data-i18n="airportInfo"> </p>
          <p class="last-p" data-i18n="costTaxiAirport"> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5 data-i18n="levada"> </h5>
        <div class="transport-box__info">
          <p data-i18n="levadaInfo"> </p>
          <p class="last-p" data-i18n="costTaxiLevada"> </p>
        </div>
      </div>
      <div class="col-md-6">
        <h5 data-i18n="busStation"> </h5>
        <div class="transport-box__info">
          <p data-i18n="busStationInfo"> </p>
          <p class="last-p" data-i18n="costTaxiBusStation"> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5 data-i18n="avtovokzal"> </h5>
        <div class="transport-box__info">
          <p data-i18n="avtovokzalInfo"> </p>
          <p class="last-p" data-i18n="costTaxiAvtovokzal"> </p>
        </div>
      </div>
    </div>
  </div> 
</section>