<section class="section transport-box anchor" id="info">
  <h2>Транспорт</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Метро</h5>
          <p>Режим работы: 05:30 – 24:00</p>
          <div class="transport-box__info">
            <p>Ближайшая станция метро “Архитектора Бекетова,  <br>Метро самый удобный и распространненый вид транспорта в Харькове. Используя метро вы быстро и с комфортом в любую погоду можете перемещаться по большей части города. </p>
            <p>Стоимость проезда в харьковском метро: 8 грн. <br>Вы можете купить билет на единоразовую поездку в автомате (принимает купюры 1, 2, 5, 10 грн.), оплатить проезд банковской картой или купить карточку метро и пополнить ее на любую сумму.</p>
          </div>
      </div>
      <div class="col-md-6">
        <h5>Такси</h5>
        <p>Режим работы: круглосуточно</p>
        <div class="transport-box__info">
          <p>Одно из самых популярных такси города:</p>
          <ul>
            <li>OnTaxi (через приложение или по телефону: 2000),</li>
            <li>3040 (короткий номер телефона).</li>
          </ul>
          <p>Средняя стоимость поездки по городу: 100 грн.</p>
          </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Харьков-Пассажирский (Южный вокзал)</h5>
          <div class="transport-box__info">
            <p>Подземный переход на вокзале соединяет с переходом метро “Южный вокзал”, это самый удобный способ чтоб добраться к хостелу.<br> Вокзал расположен на красной ветке метро. необходимо проехать 4 остановки до станции “Спортивная” и сделать пересадку на станцию “Метростроителей” и проехать 2 остановки до станции “Архитектора Бекетова”. Хостел расположен в 50 метрах от этой станции метро (выбирайте любой выход). Время в пути: 15 мин.</p>
            <p class="last-p">Такси обойдется около 120 грн.</p>
          </div>
        </div>
        <div class="col-md-6">
          <h5>Международный аэропорт «Харьков»</h5>
          <div class="transport-box__info">
            <p>От аэропорта идет автобус №119е, стоимость проезда: 9 грн., время в пути 30 - 45 мин, частота отправления 20 - 30 мин. Ехать необходимо до остановки “Зеркальная струя” (она же “Оперный театр”) и от нее двигаться в сторону улицы Пушкинской 450 метров через парк. Или же можно добраться на автобусе(115е/119е/255е/152е) / троллейбусе (№5) до любой станции метро и воспользоваться метро. Время в пути: 40-50мин.</p>
            <p class="last-p">Такси обойдется около 150 грн.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Левада железнодорожный вокзал</h5>
          <div class="transport-box__info">
            <p>На этот вокзал прибывают поезда из соседних с Харьковом областей. Этот вокзал расположен в непосредственной близости от станции метро “Проспект Гагарина” (красная ветка метро). Вам необходимо проехать одну остановку до станции “Спортивная” (синяя ветка метро) и сделать пересадку на станцию “Метростроителей” и проехать 2 остановки до станции “Архитектора Бекетова”. Хостел расположен в 50 метров от этой станции метро (выбирайте любой выход). Время в пути: 15мин. </p>
            <p class="last-p">Такси обойдется около 110 грн. </p>
          </div>
        </div>
        <div class="col-md-6">
          <h5>Центральный автовокзал (Автостанция №1) </h5>
          <div class="transport-box__info">
            <p>Расположен в непосредственной близости от станции метро “Проспект Гагарина” (красная ветка метро). Вам необходимо проехать одну остановку до станции “Спортивная” и сделать пересадку на станцию “Метростроителей” (синяя ветка метро) и проехать 2 остановки до станции “Архитектора Бекетова”. Хостел расположен в 50 метров от этой станции метро (выбирайте любой выход). Время в пути: 15мин.</p>
            <p class="last-p">Такси обойдется около 110 грн.</p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <h5>Автовокзал №2</h5>
            <div class="transport-box__info">
              <p>Расположен в непосредственной близости от станции метро “Центральный рынок” (красная ветка метро). Вам необходимо проехать 3 остановки до станции “Спортивная” (синяя ветка метро) и сделать пересадку на станцию “Метростроителей” и проехать 2 остановки до станции “Архитектора Бекетова”. Хостел расположен в 50 метров от этой станции метро (выбирайте любой выход). Время в пути:19 мин.</p>
              <p class="last-p">Такси обойдется около 90 грн. </p>
            </div>
          </div>
        </div>
    </div>
</section>