<section class="section zones-box">
  <div class="container">
    <h2 data-i18n="commonArea"> </h2>
    <div id="tabs_2" class="tabs  zones-box__tabs">
      <div class="tab-menu">
        <a class="item active" href="#tabs_2_1">
            <span>
              <svg width="30" height="30">
                <use xlink:href="#kitchen" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </span>
            <t data-i18n="kitchen"></t>
        </a>
        <a class="item" href="#tabs_2_2">
            <span>
              <svg width="30" height="35">
                <use xlink:href="#shower" xmlns:xlink="http://www.w3.org/1999/xlink"> </use>
              </svg>
            </span>
            <t data-i18n="shower"></t>
            </a>
      </div>
      <div class="tab-content container">
          <div id="tabs_2_1" class="item-content active">
            <div class="container">
                <div class="row zones-box__tab">
                    <div class="col-md-6 left-col">
                        <div class="zones-box__slides">
                          <div class="zones-box__slider-t">
                              <div class="slick-slider" id="slider_1_1">
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/kitchen-hostel-kharkiv.jpg" data-i18n="[alt]kitchen">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/kharkov-hostel-kitchen.jpg" data-i18n="[alt]kitchen1">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/sofa-hostel-kharkov.jpg" data-i18n="[alt]kitchen2">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/design-hostel-with-kitchen.jpg" data-i18n="[alt]kitchen3">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/art-hostel-kitchen.jpg" data-i18n="[alt]kitchen4">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/hostel-interior.jpg" data-i18n="[alt]kitchen5">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/hall-hostel-center.jpg" data-i18n="[alt]kitchen6">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/doors-rooms-hostel.jpg" data-i18n="[alt]kitchen7">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/best-hostel-in-kharkov.jpg" data-i18n="[alt]kitchen8">
                                  </picture>
                                </div>
                              </div>
                          </div>
                          <div class="zones-box__slider-bg">
                              <picture>
                                <img class="lazyload" src="assets/images/hostel/hall-in-design-hostel.jpg" data-i18n="[alt]shower">
                              </picture>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 right-col">
                        <div class="zone">
                            <p class="zone__desc" data-i18n="kitchenInfo"> </p>
                            <div class="zone__info">
                              <div class="row">
                                <div class="col">
                                  <ul class="char-list">
                                    <li>
                                      <span>
                                      <svg width="22" height="16">
                                        <use xlink:href="#microwave" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                      </svg>
                                      </span>
                                      <t data-i18n="microwave1"></t>
                                    </li>
                                    <li>
                                      <span>
                                        <svg width="15" height="24">
                                          <use xlink:href="#fridge" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                        </span>
                                       <t data-i18n="fridge"></t> 
                                      </li>
                                  </ul>
                                </div>
                                <div class="col">
                                    <ul class="char-list">
                                      <li>
                                        <span>
                                        <svg width="20" height="21">
                                          <use xlink:href="#kettle" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                        </span>
                                        <t data-i18n="kettle"></t>
                                      </li>
                                      <li>
                                        <span>
                                        <svg width="16" height="26">
                                          <use xlink:href="#blender" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                        </span>
                                        <t data-i18n="blender"></t>
                                      </li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
          <div id="tabs_2_2" class="item-content">
            <div class="container">
                <div class="row zones-box__tab">
                    <div class="col-md-6 left-col">
                        <div class="zones-box__slides">
                          <div class="zones-box__slider-t">
                              <div class="slick-slider" id="slider_1_2">
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/bathroom-hostel.jpg" data-i18n="[alt]shower1">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/toilet-hostel.jpg" data-i18n="[alt]shower2">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/shower-hostel.jpg" data-i18n="[alt]shower3">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/bathroom-hostel-kharkov.jpg" data-i18n="[alt]shower4">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/wc-hostel-kharkiv.jpg" data-i18n="[alt]shower5">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <img class="lazyload" src="assets/images/hostel/bathroom-with-toilet.jpg" data-i18n="[alt]shower6">
                                  </picture>
                                </div>
                              </div>
                          </div>
                          <div class="zones-box__slider-bg">
                            <picture class="" >
                              <img class="lazyload" src="assets/images/hostel/bathroom-design-hostel.jpg" data-i18n="[alt]shower7">
                            </picture>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 right-col">
                        <div class="zone">
                          <p class="zone__desc" data-i18n="showerInfo"> </p>
                        </div>
                      </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div id="action"> </div>
 </section>
