<section class="section zones-box">
  <div class="container">
    <h2>ОБЩАЯ ЗОНА</h2>
    <div id="tabs_2" class="tabs  zones-box__tabs">
      <div class="tab-menu">
        <a class="item active" href="#tabs_2_1">
            <span>
              <svg width="30" height="30">
                <use xlink:href="#kitchen" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </span>
          Кухня
        </a>
        <a class="item" href="#tabs_2_2">
            <span>
              <svg width="30" height="35">
                <use xlink:href="#shower" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </span>
            Санузел</a>
      </div>
      <div class="tab-content container">
          <div id="tabs_2_1" class="item-content active">
            <div class="container">
                <div class="row zones-box__tab">
                    <div class="col-md-6 left-col">
                        <div class="zones-box__slides">
                          <div class="zones-box__slider-t">
                              <div class="slick-slider" id="slider_1_1">
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/hall-2.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/hall-2.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/hall-2.jpg" alt="Кухня">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/hall-4.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/hall-4.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/hall-4.jpg" alt="Кухня">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/hall-5.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/hall-5.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/hall-5.jpg" alt="Кухня">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/hall-6.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/hall-6.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/hall-6.jpg" alt="Кухня">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/hall-7.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/hall-7.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/hall-7.jpg" alt="Кухня">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/hall-8.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/hall-8.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/hall-8.jpg" alt="Кухня">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/hall-10.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/hall-10.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/hall-10.jpg" alt="Кухня">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/hall-11.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/hall-11.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/hall-11.jpg" alt="Кухня">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/hall-12.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/hall-12.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/hall-12.jpg" alt="Кухня">
                                  </picture>
                                </div>
                              </div>
                          </div>
                          <div class="zones-box__slider-bg">
                              <picture>
                                <source srcset="assets/images/hostel/hall-3.webp" type="image/webp">
                                <source srcset="assets/images/hostel/hall-3.jpg" type="image/jpeg">
                                <img src="assets/images/hostel/hall-3.jpg" alt="Санузел">
                              </picture>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 right-col">
                        <div class="zone">
                            <p class="zone__desc">Наша кухня оснащена всем необходимым для самостоятельного приготовления пищи. Микроволновые печи, электрические чайники и уютная обстановка помогут вам наслаждаться трапезой при просмотре любимых каналов на широкоформатном экране телевизор</p>
                            <div class="zone__info">
                              <div class="row">
                                <div class="col">
                                  <ul class="char-list">
                                    <li>
                                      <span>
                                      <svg width="22" height="16">
                                        <use xlink:href="#microwave" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                      </svg>
                                      </span>
                                      Микроволновка
                                    </li>
                                    <li>
                                      <span>
                                        <svg width="15" height="24">
                                          <use xlink:href="#fridge" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                        </span>
                                        Холодильник
                                      </li>
                                  </ul>
                                </div>
                                <div class="col">
                                    <ul class="char-list">
                                      <li>
                                        <span>
                                        <svg width="20" height="21">
                                          <use xlink:href="#kettle" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                        </span>
                                        Чайник
                                      </li>
                                      <li>
                                        <span>
                                        <svg width="16" height="26">
                                          <use xlink:href="#blender" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                        </span>
                                        Блендер
                                      </li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
          <div id="tabs_2_2" class="item-content">
            <div class="container">
                <div class="row zones-box__tab">
                    <div class="col-md-6 left-col">
                        <div class="zones-box__slides">
                          <div class="zones-box__slider-t">
                              <div class="slick-slider" id="slider_1_2">
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/wc-1.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/wc-1.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/wc-1.jpg" alt="Санузел">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/wc-2.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/wc-2.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/wc-2.jpg" alt="Санузел">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/wc-4.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/wc-04.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/wc-04.jpg" alt="Санузел">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/wc-5.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/wc-5.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/wc-5.jpg" alt="Санузел">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/wc-6.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/wc-6.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/wc-6.jpg" alt="Санузел">
                                  </picture>
                                </div>
                                <div>
                                  <picture>
                                    <source srcset="assets/images/hostel/wc-7.webp" type="image/webp">
                                    <source srcset="assets/images/hostel/wc-7.jpg" type="image/jpeg">
                                    <img src="assets/images/hostel/wc-7.jpg" alt="Санузел">
                                  </picture>
                                </div>
                              </div>
                          </div>
                          <div class="zones-box__slider-bg">
                            <picture class="" >
                              <source srcset="assets/images/hostel/wc-3.webp" type="image/webp">
                              <source srcset="assets/images/hostel/wc-3.jpg" type="image/jpeg">
                              <img src="assets/images/hostel/wc-3.jpg" alt="Санузел">
                            </picture>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 right-col">
                        <div class="zone">
                          <p class="zone__desc">В хостеле расположены 3 санузла, 2 из которых с душевыми кабинами. Это в полтора раза больше расчетных данных на количество мест, поэтому Вам не прийдется тратить время на ожидание.  Уборка в санузлах производится 2 раза в сутки. К вашим удобствам умывальники, фены, сушилки для рук, средства гигиены.</p>
                        </div>
                      </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div id="action"></div>
</section>
