<header class="header">
  <div class="container">
    <div class="header-body">
      <div id="toggle-btn" class="header__toggle">
        <div class="toggle-btn"></div>
      </div>
      <nav id="header-nav" class="header__nav">
        <a href="#" class="nav-link">Номера и цены</a>
        <a href="#" class="nav-link">О нас</a>
        <a href="#" class="nav-link">Акции</a>
        <a href="#" class="nav-link">Как добраться</a>
        <a href="#" class="nav-link">Полезная информация</a>                                            
        <div class="header__book"><a href="#" class="button button-small button-bordered ">Забронировать</a></div>
      </nav>
    </div>
  </div>
</header>