<header class="header">
  <div class="container">
    <div class="header-body">
      <svg class="header__logo">
        <use xlink:href="#logo-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg> 
      <div id="toggle-btn" class="header__toggle">
        <div class="toggle-btn"></div>
      </div>
      <nav id="header-nav" class="header__nav">
          <a href="#about" class="nav-link">О нас</a>
          <a href="#rooms" class="nav-link">Номера и цены</a>
        <a href="#action" class="nav-link">Акции</a>
        <a href="#location" class="nav-link">Как добраться</a>
        <a href="#info" class="nav-link">Полезная информация</a>                                            
        <div class="header__book"><a href="#" class="button button-small button-bordered ">Забронировать</a></div>
      </nav>
    </div>
  </div>
</header>