<section class="section hostel-box">
  <div class="container">
    <div class="row">
      <div class="col">
          <svg class="hostel-box__logo" width="350" height="50"><use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Расположение</h3>
        <p>Хостел с дизайнерским ремонтом в самом центре города Харькова - улице Пушкинской. Окна хостела выходят на парк в котором расположен памятник влюбленным, а так же семь чудес Харькова в миниатюре под стеклом. </p>
        <p>Хостел расположен в 50 метров от станции метро (Архитектора Бекетова), которое является главной артерией общественного транспорта в Харькове. </p>
        <p>Благодаря выгодному расположению в радиусе 500 метров сосредоточены основные развлекательные заведения и заведения общественного питания, а так же круглосуточные супермаркеты. </p>
      </div>
      <div class="col-md-6">
        <h3>Оформление</h3>
        <p>Хостел был создан по авторскому проекту знаменитого харьковского дизайнера Анны Истоминой, при проектировании был учтен опыт и отзывы постояльцев о существующих на тот момент хостелов в Украине и за границей.</p>
        <p>Хостел состоит из 6-и четырехместных номеров, каждый номер окрашен в индивидуальный цвет.</p>
        <p>При поселении всем постояльцам выдается индивидуальных электронный ключ, который открывает входную дверь, вход в свою комнату, а так же индивидуальный шкафчик. Для того чтобы наши клиенты легко запоминали свой номер цвет электронного ключа совпадает с цветом комнаты и двери в комнату. </p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Все спальные места оборудованы:</h3>
        <ul>
          <li>Розетка 220В</li>
          <li>Розетка USB (2 шт.)</li>
          <li>Индивидуальный ночник</li>
          <li>Шторки спального места</li>
          <li>Шкафчик с замком</li>
          <li>Выдвижной ящик кровати</li>
        </ul>
      </div>
      <div class="col-md-6">
          <h3>Комнаты оснащены:</h3>
          <ul>
            <li>Системой кондиционирования</li>
            <li>Система рекуперации (проветривание)</li>
            <li>Точечное освещение</li>
            <li>Ночное освещение комнаты</li>
            <li>Стол с двумя стульями</li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Общая зона</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li>Ресепшн 24/7</li>
          <li>Санузел 3 шт.</li>
          <li>Фены 3 шт.</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>Стиральная машина</li>
          <li>Сейф</li>
          <li>Утюг</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>Кухня</li>
          <li>Печка</li>
          <li>Микроволновка 2 шт.</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>Чайник</li>
          <li>Питьевая вода</li>
        </ul>
      </div>
    </div>
  </div>
</section>