<section class="rooms-box">
  <div class="container">
    <h2>НОМЕРА И ЦЕНЫ</h2>
    <div class="tabs tabs__colors rooms-box__tabs">
      <div id="tab-menu">
        <a id="tab_1" class="item" href="#1">Default</a>
        <a id="tab_1" class="item yellow active" href="#1">Желтый</a>
        <a id="tab_2" class="item green" href="#2">Зеленый</a>
        <a id="tab_3" class="item blue" href="#3">Синий</a>
        <a id="tab_4" class="item purple" href="#4">Фиолетовый</a>
      </div>
      <div id="tab-content">
          <div id="1" class="item-content active">Tab 1 Желтый</div>
          <div id="2" class="item-content">Tab 2 Зеленый</div>
          <div id="3" class="item-content">Tab 3 Синий</div>
          <div id="4" class="item-content">Tab 4 Фиолетовый</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col">

      </div>
    </div>
    <br><br><br><br><br><br><br>
  </div>
</section>