<section class="section rooms-box gray anchor" id="rooms">
  <div class="container">
    <h2>НОМЕРА И ЦЕНЫ</h2>
    <div id="tabs_1" class="tabs tabs__colors rooms-box__tabs">
      <div class="tab-menu">
          <!-- <a id="tab_1" class="item" href="#1">Серый</a>
          <a id="tab_1" class="item" href="#1">Красный</a> -->
          <a class="item yellow active" href="#1">Желтый</a>
        <a class="item green" href="#2">Зеленый</a>
        <a class="item blue" href="#3">Синий</a>
        <a class="item purple" href="#4">Фиолетовый</a>
      </div>
      <div id="tab-content" class="container">
          <div id="1" class="item-content active">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="slick-slider" id="slider_1">
                      <div><img src="assets/images/hostel/015red1.jpg" alt=""/></div>
                      <div><img src="assets/images/hostel/015red2.jpg" alt=""/></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="number">
                      <h3>Жeлтый номер</h3>
                      <p class="number__guests">4 человека  |  Мужчины и женщины</p>
                      <div class="number__info">
                        <div class="row">
                          <div class="col">
                            <ul class="number__list char-list">
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Кондиционер
                              </li>
                              <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Ночное освещение
                              </li>
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Шкафчик с замком
                              </li>
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Стол и стулья
                              </li>
                            </ul>
                          </div>
                          <div class="col">
                              <ul class="number__list char-list">
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Персональный светильник
                                </li>
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Прикроватные розетки
                                </li>
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Балкон
                                </li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="number__price">
                        <p class="cost"><span >230</span> грн./сутки     <span>250</span> грн./сутки (Выходные)</p> 
                        <p  class="add-cost">+<span>50</span> грн. при заказе завтрака</picture>
                      </div>
                      <div class="number__book">
                        <button type="submit" class="button">Забронировать</button>
                        <div class="sale">Возможна скидка <br>при раннем бронировании</div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="2" class="item-content">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="slick-slider" id="slider_2">
                    <div><img src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="number">
                      <h3>Зеленый номер</h3>
                      <p class="number__guests">4 человека  |  Мужчины и женщины</p>
                      <div class="number__info">
                        <div class="row">
                          <div class="col">
                            <ul class="number__list char-list">
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Кондиционер
                              </li>
                              <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Ночное освещение
                                </li>
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Шкафчик с замком
                              </li>
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Стол и стулья
                              </li>
                            </ul>
                          </div>
                          <div class="col">
                              <ul class="number__list char-list">
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Персональный светильник
                                </li>
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Прикроватные розетки
                                </li>
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Балкон
                                </li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="number__price">
                        <p class="cost"><span >230</span> грн./сутки     <span>250</span> грн./сутки (Выходные)</p> 
                        <p  class="add-cost">+<span>50</span> грн. при заказе завтрака</p>
                      </div>
                      <div class="number__book">
                        <button type="submit" class="button">Забронировать</button>
                        <div class="sale">Возможна скидка <br>при раннем бронировании</div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="3" class="item-content">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="slick-slider" id="slider_3">
                    <div><img src="https://images.unsplash.com/photo-1562184552-997c461abbe6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="number">
                      <h3>Синий номер</h3>
                      <p class="number__guests">4 человека  |  Мужчины и женщины</p>
                      <div class="number__info">
                        <div class="row">
                          <div class="col">
                            <ul class="number__list char-list">
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Кондиционер
                              </li>
                              <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Ночное освещение
                                </li>
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Шкафчик с замком
                              </li>
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Стол и стулья
                              </li>
                            </ul>
                          </div>
                          <div class="col">
                              <ul class="number__list char-list">
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Персональный светильник
                                </li>
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Прикроватные розетки
                                </li>
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Балкон
                                </li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="number__price">
                        <p class="cost"><span >230</span> грн./сутки     <span>250</span> грн./сутки (Выходные)</p> 
                        <p  class="add-cost">+<span>50</span> грн. при заказе завтрака</p>
                      </div>
                      <div class="number__book">
                        <button type="submit" class="button">Забронировать</button>
                        <div class="sale">Возможна скидка <br>при раннем бронировании</div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="4" class="item-content">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="slick-slider" id="slider_4">
                    <div><img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1562184552-997c461abbe6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="number">
                      <h3>Фиолетовый номер</h3>
                      <p class="number__guests">4 человека  |  Мужчины и женщины</p>
                      <div class="number__info">
                        <div class="row">
                          <div class="col">
                            <ul class="number__list char-list">
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Кондиционер
                              </li>
                              <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Ночное освещение
                              </li>
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Шкафчик с замком
                              </li>
                              <li>
                                <svg width="18" height="12">
                                  <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                Стол и стулья
                              </li>
                            </ul>
                          </div>
                          <div class="col">
                              <ul class="number__list char-list">
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Персональный светильник
                                </li>
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Прикроватные розетки
                                </li>
                                <li>
                                  <svg width="18" height="12">
                                    <use xlink:href="#air-con" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg>
                                  Балкон
                                </li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="number__price">
                        <p class="cost"><span >230</span> грн./сутки     <span>250</span> грн./сутки (Выходные)</p> 
                        <p  class="add-cost">+<span>50</span> грн. при заказе завтрака</p>
                      </div>
                      <div class="number__book">
                        <button type="submit" class="button">Забронировать</button>
                        <div class="sale">Возможна скидка <br>при раннем бронировании</div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>