<section class="rooms-box">
  <div class="container">
    <h2>НОМЕРА И ЦЕНЫ</h2>
    <div class="tabs tabs__colors rooms-box__tabs">
      <div id="tab-menu">
        <!-- <a id="tab_1" class="item" href="#1">Default</a> -->
        <a class="item yellow active" href="#1">Желтый</a>
        <a class="item green" href="#2">Зеленый</a>
        <a class="item blue" href="#3">Синий</a>
        <a class="item purple" href="#4">Фиолетовый</a>
      </div>
      <div id="tab-content">
          <div id="1" class="item-content active">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="slick-slider" id="slider_1">
                    <div><img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1562184552-997c461abbe6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3>Жeлтый номер</h3>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, numquam ab. Unde dolorum temporibus doloribus libero dolore consequuntur cum, hic assumenda quae minima id est mollitia inventore tempore! Quos, quibusdam!</p>
                </div>
              </div>
            </div>
          </div>
          <div id="2" class="item-content">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="slick-slider" id="slider_2">
                    <div><img src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3>Зеленый номер</h3>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, numquam ab. Unde dolorum temporibus doloribus libero dolore consequuntur cum, hic assumenda quae minima id est mollitia inventore tempore! Quos, quibusdam!</p>
                </div>
              </div>
            </div>
          </div>
          <div id="3" class="item-content">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="slick-slider" id="slider_3">
                    <div><img src="https://images.unsplash.com/photo-1562184552-997c461abbe6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3>Синий номер</h3>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, numquam ab. Unde dolorum temporibus doloribus libero dolore consequuntur cum, hic assumenda quae minima id est mollitia inventore tempore! Quos, quibusdam!</p>
                </div>
              </div>
            </div>
          </div>
          <div id="4" class="item-content">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="slick-slider" id="slider_4">
                    <div><img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                    <div><img src="https://images.unsplash.com/photo-1562184552-997c461abbe6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" /></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3>Фиолетовый номер</h3>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, numquam ab. Unde dolorum temporibus doloribus libero dolore consequuntur cum, hic assumenda quae minima id est mollitia inventore tempore! Quos, quibusdam!</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col">

      </div>
    </div>
    <br><br><br><br><br><br><br>
  </div>
</section>


