<section class="starter-box">
  <div class="container">
    <div class="starter-box__intro">
      <div class="logo"><svg width="423" height="61"><use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></div>
      <h1 class="slogan">Новый, современный, оборудованный по европейским стандартам хостел, гостиничного типа.</h1>
      <div class="book-box">
        <form action="" class="book-box__form">
            <div class="data-input">
              <label for="checkIn">Дата заезда</label>
              <input type="text" id="datepicker"/>
            </div>
            <div class="data-input">
                <label for="checkOut">Дата отъезда</label>
                <input id="checkOut" type="text">
            </div>
            <div class="data-input data-input__submit"><button type="submit" class="button button-solid color-accent">Забронировать</button></div>
          </div>
        </form>
        <div class="book-box__notice">Получи скидки при <a href="" class>раннем</a> бронировании!</div>
      </div>
    <div class="starter-box__info">
      <a class="phone" href="tel:+3 (096) 104 90 60">+3 (096) 104 90 60</a>
      <address class="address">Харьков, М Архитектора бекетова<br>ул. Пушкинская, 40. Кв. 71</address>
      </div>
  </div>
</section>